Dashboard.json
[{"id":"87631c31.2f025","type":"debug","z":"41241f6f.41a84","name":"Today","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":200,"wires":[]},{"id":"e6110040.c6af3","type":"ui_text","z":"41241f6f.41a84","group":"d0851ba3.b3aad8","order":4,"width":0,"height":0,"name":"","label":"Date :","format":"{{msg.time}}","layout":"row-spread","x":910,"y":320,"wires":[]},{"id":"5e22a27f.42fa6c","type":"openweathermap","z":"41241f6f.41a84","name":"Today","wtype":"current","lon":"","lat":"","city":"cherrapunji","country":"India","language":"en","x":540,"y":400,"wires":[["87631c31.2f025","e6110040.c6af3","4485f7b7.811ff8","9f005a34.e14f28","3ba867c1.1fa6d8","fcb308b0.3a1b28","2918dddc.de8952","a4d7bee3.532ae","b7123e76.0324c","3aa4c253.87f14e","c7f0ce94.c4f7f","327394db.3c789c"]]},{"id":"c1c5c8f4.2aa7b8","type":"inject","z":"41241f6f.41a84","name":"","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":true,"onceDelay":0.1,"x":350,"y":400,"wires":[["5e22a27f.42fa6c"]]},{"id":"4485f7b7.811ff8","type":"ui_text","z":"41241f6f.41a84","group":"d0851ba3.b3aad8","order":1,"width":0,"height":0,"name":"","label":"Cherrapunji","format":"","layout":"row-center","x":870,"y":260,"wires":[]},{"id":"9f005a34.e14f28","type":"ui_text","z":"41241f6f.41a84","group":"d0851ba3.b3aad8","order":5,"width":0,"height":0,"name":"","label":"Temperature :","format":"{{data.main.temp}}° K","layout":"row-spread","x":920,"y":380,"wires":[]},{"id":"3ba867c1.1fa6d8","type":"ui_text","z":"41241f6f.41a84","group":"d0851ba3.b3aad8","order":7,"width":0,"height":0,"name":"","label":"Humidity :","format":"{{payload.humidity}}%","layout":"row-spread","x":940,"y":500,"wires":[]},{"id":"fcb308b0.3a1b28","type":"ui_text","z":"41241f6f.41a84","group":"d0851ba3.b3aad8","order":8,"width":0,"height":0,"name":"","label":"Wind Speed :","format":"{{payload.windspeed}} m/sec","layout":"row-spread","x":940,"y":660,"wires":[]},{"id":"2918dddc.de8952","type":"ui_text","z":"41241f6f.41a84","group":"d0851ba3.b3aad8","order":9,"width":0,"height":0,"name":"","label":"Wind Direction : ","format":"{{payload.winddirection}} °","layout":"row-spread","x":860,"y":800,"wires":[]},{"id":"a4d7bee3.532ae","type":"ui_text","z":"41241f6f.41a84","group":"d0851ba3.b3aad8","order":10,"width":0,"height":0,"name":"","label":"Cloudiness :","format":"{{payload.clouds}}%","layout":"row-spread","x":930,"y":560,"wires":[]},{"id":"b7123e76.0324c","type":"ui_text","z":"41241f6f.41a84","group":"d0851ba3.b3aad8","order":11,"width":0,"height":0,"name":"","label":"Pressure :","format":"{{payload.pressure}} hPa","layout":"row-spread","x":850,"y":880,"wires":[]},{"id":"3aa4c253.87f14e","type":"ui_text","z":"41241f6f.41a84","group":"d0851ba3.b3aad8","order":3,"width":0,"height":0,"name":"","label":"Weather Description ","format":"{{data.weather[0].description}}","layout":"row-spread","x":920,"y":720,"wires":[]},{"id":"c7f0ce94.c4f7f","type":"ui_text","z":"41241f6f.41a84","group":"d0851ba3.b3aad8","order":6,"width":0,"height":0,"name":"","label":"Temperature Feels like :","format":"{{data.main.feels_like}}°K","layout":"row-spread","x":930,"y":440,"wires":[]},{"id":"327394db.3c789c","type":"function","z":"41241f6f.41a84","name":"Weather Icon","func":"\nif(msg.data.weather[0].id==800)\n{\n  var imgUrl;\n imgUrl = \"http://openweathermap.org/img/wn/01d@2x.png\";\nmsg.payload = \"<p align='center'><img src = '\" + imgUrl + \"' alt = 'Logo image not found' /></p>\";\n}\nelse if(msg.data.weather[0].id==801)\n{\n imgUrl = \"http://openweathermap.org/img/wn/02d@2x.png\";\nmsg.payload = \"<p align='center'><img src = '\" + imgUrl + \"' alt = 'Logo image not found' /></p>\";\n}\nelse if(msg.data.weather[0].id==802)\n{\n imgUrl = \"http://openweathermap.org/img/wn/03d@2x.png\";\nmsg.payload = \"<p align='center'><img src = '\" + imgUrl + \"' alt = 'Logo image not found' /></p>\";\n}\nelse if(msg.data.weather[0].id==803||msg.data.weather[0].id==804)\n{\n imgUrl = \"http://openweathermap.org/img/wn/04d@2x.png\";\nmsg.payload = \"<p align='center'><img src = '\" + imgUrl + \"' alt = 'Logo image not found' /></p>\";\n}\nelse if(msg.data.weather[0].id==300||msg.data.weather[0].id==301||msg.data.weather[0].id==302||msg.data.weather[0].id==310||msg.data.weather[0].id==311||msg.data.weather[0].id==312||msg.data.weather[0].id==312||msg.data.weather[0].id==313||msg.data.weather[0].id==314||msg.data.weather[0].id==321)\n{\n imgUrl = \"http://openweathermap.org/img/wn/09d@2x.png\";\nmsg.payload = \"<p align='center'><img src = '\" + imgUrl + \"' alt = 'Logo image not found' /></p>\";\n}\nelse if(msg.data.weather[0].id==500||msg.data.weather[0].id==501||msg.data.weather[0].id==502||msg.data.weather[0].id==503||msg.data.weather[0].id==504||msg.data.weather[0].id==520||msg.data.weather[0].id==521||msg.data.weather[0].id==522||msg.data.weather[0].id==531)\n{\n imgUrl = \"http://openweathermap.org/img/wn/10d@2x.png\";\nmsg.payload = \"<p align='center'><img src = '\" + imgUrl + \"' alt = 'Logo image not found' /></p>\";\n}\nelse if(msg.data.weather[0].id==200||msg.data.weather[0].id==201||msg.data.weather[0].id==202||msg.data.weather[0].id==210||msg.data.weather[0].id==211||msg.data.weather[0].id==212||msg.data.weather[0].id==221||msg.data.weather[0].id==230||msg.data.weather[0].id==231||msg.data.weather[0].id==232)\n{\n imgUrl = \"http://openweathermap.org/img/wn/11d@2x.png\";\nmsg.payload = \"<p align='center'><img src = '\" + imgUrl + \"' alt = 'Logo image not found' /></p>\";\n}\nelse if(msg.data.weather[0].id==511||msg.data.weather[0].id==600||msg.data.weather[0].id==601||msg.data.weather[0].id==602||msg.data.weather[0].id==611||msg.data.weather[0].id==612||msg.data.weather[0].id==613||msg.data.weather[0].id==615||msg.data.weather[0].id==616||msg.data.weather[0].id==620||msg.data.weather[0].id==621)\n{\n imgUrl = \"http://openweathermap.org/img/wn/13d@2x.png\";\nmsg.payload = \"<p align='center'><img src = '\" + imgUrl + \"' alt = 'Logo image not found' /></p>\";\n}\nelse if(msg.data.weather[0].id==701||msg.data.weather[0].id==711||msg.data.weather[0].id==721||msg.data.weather[0].id==731||msg.data.weather[0].id==741||msg.data.weather[0].id==751||msg.data.weather[0].id==761||msg.data.weather[0].id==762||msg.data.weather[0].id==771||msg.data.weather[0].id==781)\n{\n imgUrl = \"http://openweathermap.org/img/wn/50d@2x.png\";\nmsg.payload = \"<p align='center'><img src = '\" + imgUrl + \"' alt = 'Logo image not found' /></p>\";\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":830,"y":980,"wires":[["ab7f4036.cc71f"]]},{"id":"ab7f4036.cc71f","type":"ui_template","z":"41241f6f.41a84","group":"d0851ba3.b3aad8","name":"","order":2,"width":0,"height":0,"format":"<div height=\"100\" style=\"height:100px; float: right\">\n    <div ng-bind-html = \"msg.payload\" width=\"500px\"> \n        <br/>\n    </div>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1020,"y":980,"wires":[[]]},{"id":"d0851ba3.b3aad8","type":"ui_group","z":"","name":"Today's Forecast","tab":"fb3d40d0.70805","order":3,"disp":true,"width":"7","collapse":false},{"id":"fb3d40d0.70805","type":"ui_tab","z":"","name":"dashboard","icon":"dashboard","disabled":false,"hidden":false}]