Node-Red/Dashboard.json
[{"id":"9bcd2fb.f1b2dd","type":"tab","label":"dasboard and public inform","disabled":false,"info":""},{"id":"8d2f6981.61c138","type":"debug","z":"9bcd2fb.f1b2dd","name":"Today","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":200,"wires":[]},{"id":"3545fb39.3db584","type":"openweathermap","z":"9bcd2fb.f1b2dd","name":"Today","wtype":"current","lon":"","lat":"","city":"Cherrapunji","country":"India","language":"en","x":540,"y":400,"wires":[["8d2f6981.61c138","8e644d04.2f732","7c967390.9de6dc","fc761fb.5a84ae","fc3c6f1e.de4d4","399fd195.8fad8e","73e0d16d.1239a","107ce2b4.f711ed","397810b6.8ead3","3cced22c.579a6e","6cd715a4.c7681c"]]},{"id":"3aff5a58.9724e6","type":"inject","z":"9bcd2fb.f1b2dd","name":"","repeat":"900","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":350,"y":400,"wires":[["3545fb39.3db584"]]},{"id":"8e644d04.2f732","type":"ui_text","z":"9bcd2fb.f1b2dd","group":"1f5bdf8c.9eba9","order":1,"width":0,"height":0,"name":"","label":"Location :","format":"{{msg.location.city}}","layout":"row-center","x":860,"y":260,"wires":[]},{"id":"7c967390.9de6dc","type":"ui_text","z":"9bcd2fb.f1b2dd","group":"1f5bdf8c.9eba9","order":5,"width":0,"height":0,"name":"","label":"Temperature :","format":"{{data.main.temp}}° K","layout":"row-spread","x":920,"y":380,"wires":[]},{"id":"fc761fb.5a84ae","type":"ui_text","z":"9bcd2fb.f1b2dd","group":"1f5bdf8c.9eba9","order":7,"width":0,"height":0,"name":"","label":"Humidity :","format":"{{payload.humidity}}%","layout":"row-spread","x":940,"y":500,"wires":[]},{"id":"fc3c6f1e.de4d4","type":"ui_text","z":"9bcd2fb.f1b2dd","group":"1f5bdf8c.9eba9","order":8,"width":0,"height":0,"name":"","label":"Wind Speed :","format":"{{payload.windspeed}} m/sec","layout":"row-spread","x":940,"y":660,"wires":[]},{"id":"399fd195.8fad8e","type":"ui_text","z":"9bcd2fb.f1b2dd","group":"1f5bdf8c.9eba9","order":9,"width":0,"height":0,"name":"","label":"Wind Direction : ","format":"{{payload.winddirection}} °","layout":"row-spread","x":860,"y":800,"wires":[]},{"id":"73e0d16d.1239a","type":"ui_text","z":"9bcd2fb.f1b2dd","group":"1f5bdf8c.9eba9","order":10,"width":0,"height":0,"name":"","label":"Cloudiness :","format":"{{payload.clouds}}%","layout":"row-spread","x":930,"y":560,"wires":[]},{"id":"107ce2b4.f711ed","type":"ui_text","z":"9bcd2fb.f1b2dd","group":"1f5bdf8c.9eba9","order":11,"width":0,"height":0,"name":"","label":"Pressure :","format":"{{payload.pressure}} hPa","layout":"row-spread","x":850,"y":880,"wires":[]},{"id":"397810b6.8ead3","type":"ui_text","z":"9bcd2fb.f1b2dd","group":"1f5bdf8c.9eba9","order":3,"width":0,"height":0,"name":"","label":"Weather Description ","format":"{{data.weather[0].description}}","layout":"row-spread","x":920,"y":720,"wires":[]},{"id":"3cced22c.579a6e","type":"ui_text","z":"9bcd2fb.f1b2dd","group":"1f5bdf8c.9eba9","order":6,"width":0,"height":0,"name":"","label":"Temperature Feels like :","format":"{{data.main.feels_like}}°K","layout":"row-spread","x":930,"y":440,"wires":[]},{"id":"1346ecda.c39883","type":"ui_template","z":"9bcd2fb.f1b2dd","group":"1f5bdf8c.9eba9","name":"","order":2,"width":0,"height":0,"format":"<div height=\"100\" style=\"height:100px; float: right\">\n    <div ng-bind-html = \"msg.payload\" width=\"500px\"> \n        <br/>\n    </div>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1020,"y":980,"wires":[[]]},{"id":"4c8d663a.050b88","type":"openweathermap","z":"9bcd2fb.f1b2dd","name":"2 Days Forecast","wtype":"forecast","lon":"","lat":"","city":"Cherrapunji","country":"India","language":"en","x":1840,"y":340,"wires":[["ced16635.3f39a8","4958a23f.5ba8bc","730e61e9.9cbe","7543c93c.1c3888","178ecc5c.9896a4","21213b9.50c9cc4","f1134082.1f34","8aa03848.0aadd8","a0daad1f.9c648"]]},{"id":"98db6f8e.88b9c","type":"inject","z":"9bcd2fb.f1b2dd","name":"","repeat":"600","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1640,"y":340,"wires":[[]]},{"id":"ced16635.3f39a8","type":"debug","z":"9bcd2fb.f1b2dd","name":"2DaysForecast","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2400,"y":80,"wires":[]},{"id":"4958a23f.5ba8bc","type":"ui_text","z":"9bcd2fb.f1b2dd","group":"3e60c051.d12be","order":1,"width":0,"height":0,"name":"","label":"Location :","format":"{{msg.location.city}}","layout":"row-left","x":2380,"y":140,"wires":[]},{"id":"730e61e9.9cbe","type":"ui_text","z":"9bcd2fb.f1b2dd","group":"3e60c051.d12be","order":3,"width":0,"height":0,"name":"2r","label":" Rain :","format":"{{msg.payload[1].rain[\"3h\"]}} m.m. ","layout":"row-spread","x":2360,"y":240,"wires":[]},{"id":"178ecc5c.9896a4","type":"ui_text","z":"9bcd2fb.f1b2dd","group":"3e60c051.d12be","order":5,"width":0,"height":0,"name":"2d","label":"Description :","format":"{{msg.payload[1].weather[0].description}}","layout":"row-spread","x":2360,"y":360,"wires":[]},{"id":"7543c93c.1c3888","type":"ui_text","z":"9bcd2fb.f1b2dd","group":"3e60c051.d12be","order":4,"width":0,"height":0,"name":"2c","label":"Cloudiness :","format":"{{msg.payload[1].clouds.all}} %  ","layout":"row-spread","x":2360,"y":300,"wires":[]},{"id":"ab78d842.d1be08","type":"ui_chart","z":"9bcd2fb.f1b2dd","name":"","group":"3e60c051.d12be","order":10,"width":7,"height":6,"label":"Rain Level of coming 2 Days","chartType":"bar","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2360,"y":640,"wires":[[]]},{"id":"21213b9.50c9cc4","type":"ui_text","z":"9bcd2fb.f1b2dd","group":"3e60c051.d12be","order":7,"width":0,"height":0,"name":"3r","label":"Rain :","format":"{{msg.payload[2].rain[\"3h\"]}} m.m. ","layout":"row-spread","x":2360,"y":460,"wires":[]},{"id":"8aa03848.0aadd8","type":"ui_text","z":"9bcd2fb.f1b2dd","group":"3e60c051.d12be","order":9,"width":0,"height":0,"name":"3d","label":"Description :","format":"{{msg.payload[2].weather[0].description}}","layout":"row-spread","x":2360,"y":580,"wires":[]},{"id":"f1134082.1f34","type":"ui_text","z":"9bcd2fb.f1b2dd","group":"3e60c051.d12be","order":8,"width":0,"height":0,"name":"3c","label":"Cloudiness :","format":"{{msg.payload[2].clouds.all}} %  ","layout":"row-spread","x":2360,"y":520,"wires":[]},{"id":"e9384d6e.98081","type":"inject","z":"9bcd2fb.f1b2dd","name":"sql","repeat":"12","crontab":"","once":true,"onceDelay":0.1,"topic":"","payloadType":"str","x":1980,"y":1160,"wires":[["9990aae9.079538"]]},{"id":"2798ccc4.6ea814","type":"mysql","z":"9bcd2fb.f1b2dd","mydb":"20f94804.639548","name":"SensorData","x":2220,"y":1080,"wires":[["ca58820a.26717","cedeabf.3ee9458","458c66dd.29ba58"]]},{"id":"ca58820a.26717","type":"debug","z":"9bcd2fb.f1b2dd","name":"SensorData","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2360,"y":1260,"wires":[]},{"id":"9990aae9.079538","type":"function","z":"9bcd2fb.f1b2dd","name":"query","func":"msg.topic = \"SELECT * FROM SensorData ORDER BY time DESC LIMIT 50;\"\nreturn msg;","outputs":1,"noerr":0,"x":2120,"y":1280,"wires":[["2798ccc4.6ea814"]]},{"id":"cedeabf.3ee9458","type":"function","z":"9bcd2fb.f1b2dd","name":"","func":"var chart = [{\n    \"series\":[\"A\"],\n    \"data\":[[{\"x\":msg.payload[0].time,\"y\":msg.payload[0].data},{\"x\":msg.payload[1].time,\"y\":msg.payload[1].data},{\"x\":msg.payload[2].time,\"y\":msg.payload[2].data},{\"x\":msg.payload[3].time,\"y\":msg.payload[3].data},{\"x\":msg.payload[4].time,\"y\":msg.payload[4].data},{\"x\":msg.payload[5].time,\"y\":msg.payload[5].data},{\"x\":msg.payload[6].time,\"y\":msg.payload[6].data},{\"x\":msg.payload[7].time,\"y\":msg.payload[7].data},{\"x\":msg.payload[8].time,\"y\":msg.payload[8].data},{\"x\":msg.payload[9].time,\"y\":msg.payload[9].data},{\"x\":msg.payload[10].time,\"y\":msg.payload[10].data},{\"x\":msg.payload[11].time,\"y\":msg.payload[11].data},{\"x\":msg.payload[12].time,\"y\":msg.payload[12].data},{\"x\":msg.payload[13].time,\"y\":msg.payload[13].data},{\"x\":msg.payload[14].time,\"y\":msg.payload[14].data},]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":2410,"y":980,"wires":[["9735f404.fac7d8"]]},{"id":"9735f404.fac7d8","type":"ui_chart","z":"9bcd2fb.f1b2dd","name":"","group":"54db2a95.307fd4","order":1,"width":8,"height":6,"label":"Water Level Graph","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"No Data","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2600,"y":1080,"wires":[[]]},{"id":"458c66dd.29ba58","type":"function","z":"9bcd2fb.f1b2dd","name":"","func":"var curLevel = flow.set('curLevel',msg.payload[0].data)\nmsg.payload=msg.payload[0].data;\nreturn msg;","outputs":1,"noerr":0,"x":2430,"y":1160,"wires":[["eeeda62f.f042a8","7294e98c.59f0f8"]]},{"id":"eeeda62f.f042a8","type":"ui_text","z":"9bcd2fb.f1b2dd","group":"54db2a95.307fd4","order":3,"width":9,"height":1,"name":"","label":"Current water level","format":"{{msg.payload}} cm","layout":"row-spread","x":2640,"y":1180,"wires":[]},{"id":"c93104c4.d7f268","type":"inject","z":"9bcd2fb.f1b2dd","name":"sql","repeat":"12","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":730,"y":1380,"wires":[["e1f704ed.24f528"]]},{"id":"d5fad5e4.76cec8","type":"mysql","z":"9bcd2fb.f1b2dd","mydb":"20f94804.639548","name":"RemTime","x":960,"y":1300,"wires":[["428eecbd.47d8a4","f28cf90e.f43848"]]},{"id":"428eecbd.47d8a4","type":"debug","z":"9bcd2fb.f1b2dd","name":"RemTime","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1260,"y":1540,"wires":[]},{"id":"e1f704ed.24f528","type":"function","z":"9bcd2fb.f1b2dd","name":"query","func":"msg.topic = msg.topic = \"SELECT * FROM REMTIME ORDER BY time DESC;\"\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":1500,"wires":[["d5fad5e4.76cec8"]]},{"id":"b4b49bf4.484d18","type":"ui_text","z":"9bcd2fb.f1b2dd","group":"54db2a95.307fd4","order":5,"width":9,"height":1,"name":"","label":"Time till FSL: ","format":"{{msg.payload}}","layout":"row-spread","x":1350,"y":1220,"wires":[]},{"id":"f28cf90e.f43848","type":"function","z":"9bcd2fb.f1b2dd","name":"","func":"var remTime = flow.set('remTime',msg.payload[0].rem)\nmsg.payload= msg.payload[0].rem;\nreturn msg;","outputs":1,"noerr":0,"x":1180,"y":1240,"wires":[["b4b49bf4.484d18"]]},{"id":"b6864be1.c58e28","type":"inject","z":"9bcd2fb.f1b2dd","name":"sql","repeat":"7","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":1570,"y":1500,"wires":[["4d2ac74f.567d38"]]},{"id":"3bae8100.0c71f","type":"mysql","z":"9bcd2fb.f1b2dd","mydb":"20f94804.639548","name":"People","x":2000,"y":1500,"wires":[["d1d5e6ba.290088","cf002ea8.2f824"]]},{"id":"d1d5e6ba.290088","type":"debug","z":"9bcd2fb.f1b2dd","name":"People","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2280,"y":1540,"wires":[]},{"id":"4d2ac74f.567d38","type":"function","z":"9bcd2fb.f1b2dd","name":"query","func":"msg.topic = \"SELECT * FROM PEOPLE ORDER BY time DESC;\"\nreturn msg;","outputs":1,"noerr":0,"x":1770,"y":1500,"wires":[["3bae8100.0c71f"]]},{"id":"cf002ea8.2f824","type":"function","z":"9bcd2fb.f1b2dd","name":"","func":"msg.payload=msg.payload[0].data;\nreturn msg;","outputs":1,"noerr":0,"x":2320,"y":1440,"wires":[["68428bd5.6803a4"]]},{"id":"68428bd5.6803a4","type":"ui_text","z":"9bcd2fb.f1b2dd","group":"9361f3ce.f3f4c","order":1,"width":0,"height":0,"name":"","label":"People Count:","format":"{{msg.payload}}","layout":"row-left","x":2560,"y":1480,"wires":[]},{"id":"652cf785.76d598","type":"function","z":"9bcd2fb.f1b2dd","name":"","func":"H = flow.set('H',48)\nreturn msg;","outputs":1,"noerr":0,"x":1890,"y":1720,"wires":[[]]},{"id":"ee9e79c7.f167f8","type":"inject","z":"9bcd2fb.f1b2dd","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1680,"y":1720,"wires":[["652cf785.76d598"]]},{"id":"c27b2e93.d14f3","type":"http request","z":"9bcd2fb.f1b2dd","name":"Telegram-officials Auto","method":"POST","ret":"txt","paytoqs":true,"url":"https://api.telegram.org/bot493679639:AAG22nKFEE9jdklnRI1mpt3Zqa32EFZVbpE/sendMessage","tls":"","persist":false,"proxy":"","authType":"","x":2380,"y":1660,"wires":[["27a9086.60377f8"]]},{"id":"82b0c75d.285bc8","type":"function","z":"9bcd2fb.f1b2dd","name":"","func":"H = flow.get('H') || 53\ntime = flow.get('remTime')\nlevel = flow.get('curLevel')\nmul = flow.get('mul') || 0.5\n\nif (level >= mul*H && mul*H < 0.75*H)\n{\n    message = \"Yellow Alert!\\nReservoir water level is \"+ (mul*100) +\"% of FRL.\\nCurrent water level: \"+level+\" cm\\nEstimated time: \"+time\n    msg.payload = {\"chat_id\" : '-1001461001837',\"text\" : message}\n    mul += 0.05\n    flow.set('mul',mul)\n    return msg;\n}\n\nif (level >= mul*H && mul*H < 0.9*H)\n{\n    message = \"Orange Alert!\\nReservoir water level is \"+ (mul*100) +\"% of FRL.\\nCurrent water level: \"+level+\" cm\\nEstimated time: \"+time\n    msg.payload = {\"chat_id\" : '-1001461001837',\"text\" : message}\n    mul += 0.5\n    flow.set('mul',mul)\n    return msg;\n}\n\nif (level >= mul*H >= 0.9*H && mul*H < H)\n{\n    message = \"Red Alert!\\nReservoir water level is \"+ (mul*100) +\"% of FRL.\\nCurrent water level: \"+level+\" cm\\nEstimated time: \"+time\n    msg.payload = {\"chat_id\" : '-1001461001837',\"text\" : message}\n    mul += 0.1\n    flow.set('mul',mul)\n    return msg;\n}\n\nif (level >= H)\n{\n    message = \"Red Alert!\\nCRITICAL SITUATION\\nWater level rising above FRL\\nCurrent water level: \"+level+\" cm\"\n    msg.payload = {\"chat_id\" : '-1001461001837',\"text\" : message}\n    flow.set('mul',mul)\n    return msg;\n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2090,"y":1760,"wires":[["c27b2e93.d14f3"]]},{"id":"27a9086.60377f8","type":"debug","z":"9bcd2fb.f1b2dd","name":"Telegram","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2590,"y":1760,"wires":[]},{"id":"7fd0f5fe.b5f38c","type":"inject","z":"9bcd2fb.f1b2dd","name":"","repeat":"10","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":2030,"y":1940,"wires":[["82b0c75d.285bc8"]]},{"id":"1e9f481a.3e2e38","type":"debug","z":"9bcd2fb.f1b2dd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":3400,"y":800,"wires":[]},{"id":"bf484598.ae83e8","type":"ui_button","z":"9bcd2fb.f1b2dd","name":"","group":"b5c2aae5.3a5dd8","order":1,"width":0,"height":0,"passthru":false,"label":"Alert","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":3140,"y":680,"wires":[["1e9f481a.3e2e38","ccd5fbdd.2b8098","a3684a3b.1f3d08","437e5ad1.a48344","7dc6e87e.fac428"]]},{"id":"ccd5fbdd.2b8098","type":"function","z":"9bcd2fb.f1b2dd","name":"","func":"if(msg.payload!=1)\n{\n    msg.payload=0;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3210,"y":860,"wires":[[]]},{"id":"e279d966.b8a2f8","type":"inject","z":"9bcd2fb.f1b2dd","name":"","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":2940,"y":820,"wires":[["ccd5fbdd.2b8098"]]},{"id":"5c709ee6.5ce5c","type":"http request","z":"9bcd2fb.f1b2dd","name":"","method":"GET","ret":"txt","paytoqs":"query","url":"https://api.telegram.org/bot493679639:AAG22nKFEE9jdklnRI1mpt3Zqa32EFZVbpE/sendMessage","tls":"","persist":false,"proxy":"","authType":"","x":3840,"y":680,"wires":[["5252055b.430a3c"]]},{"id":"a3684a3b.1f3d08","type":"function","z":"9bcd2fb.f1b2dd","name":"","func":"m=\"A Red Alert has been issued by the dam. Persons in the area are encouraged to evacuate. Responsive action should be taken immediately! For more information, visit the dam website\"\nmsg.payload = {\"chat_id\" : '@informPublic',\"text\" : m}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3580,"y":700,"wires":[["5c709ee6.5ce5c"]]},{"id":"5252055b.430a3c","type":"debug","z":"9bcd2fb.f1b2dd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":4090,"y":700,"wires":[]},{"id":"2ee671c0.89a62e","type":"ui_dropdown","z":"9bcd2fb.f1b2dd","name":"","label":"Emails","tooltip":"","place":"Select option","group":"fa9671b8.6fe16","order":1,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"Television Station","value":"amolsatsangi2@gmail.com","type":"str"},{"label":"Police Station","value":"arshkumar304@gmail.com","type":"str"},{"label":"Tejpunj Raju","value":"tejpunjraju8a@gmail.com","type":"str"},{"label":"District Magistrate","value":"a1swami1@gmail.com","type":"str"}],"payload":"","topic":"","x":3160,"y":980,"wires":[["e0208176.85cb7","fc68c7af.e1aec8"]]},{"id":"90b501d8.71e1d","type":"debug","z":"9bcd2fb.f1b2dd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":3270,"y":1100,"wires":[]},{"id":"cba758ec.1d47a8","type":"inject","z":"9bcd2fb.f1b2dd","name":"","repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":3100,"y":1500,"wires":[[]]},{"id":"e0208176.85cb7","type":"function","z":"9bcd2fb.f1b2dd","name":"","func":"msg.to=msg.payload;\nmsg.payload = \"A Red Alert has been issued for Agra by the dam. Persons in this area are encouraged to evacuate. Responsive action should be taken immediately! For more information, visit the dam website\"\nmsg.topic = \"RED ALERT\"\nreturn msg;","outputs":1,"noerr":0,"x":3300,"y":1040,"wires":[["543e8ed5.b807e"]]},{"id":"fc68c7af.e1aec8","type":"debug","z":"9bcd2fb.f1b2dd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":3540,"y":1040,"wires":[]},{"id":"4cb25ea2.a77a6","type":"function","z":"9bcd2fb.f1b2dd","name":"","func":"msg.payload=\"hello\";\nmsg.to=\"amolsatsangi2@gmail.com\"\n\nreturn msg;","outputs":1,"noerr":0,"x":3450,"y":1520,"wires":[[]]},{"id":"3b524b17.d5c274","type":"inject","z":"9bcd2fb.f1b2dd","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":3280,"y":1540,"wires":[["4cb25ea2.a77a6"]]},{"id":"e450e927.7d3de8","type":"ui_button","z":"9bcd2fb.f1b2dd","name":"","group":"fa9671b8.6fe16","order":2,"width":0,"height":0,"passthru":false,"label":"Send","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":2970,"y":980,"wires":[["2ee671c0.89a62e"]]},{"id":"d217fa5.3a42d08","type":"ui_button","z":"9bcd2fb.f1b2dd","name":"","group":"ec18ab46.ac9668","order":1,"width":0,"height":0,"passthru":false,"label":"Warning (HINDI) ","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Please evacuate the area. ","payloadType":"str","topic":"","x":4210,"y":960,"wires":[["bd0e76a9.421aa8"]]},{"id":"bd0e76a9.421aa8","type":"watson-translator","z":"9bcd2fb.f1b2dd","name":"t","action":"translate","basemodel":"ar-en","domain":"general","srclang":"en","destlang":"hi","password":"@Amola688","apikey":"qil87mKyhousSDe7GwPfjE_4zXSlMmcGLuh-5QPw5qkk","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"hi","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.eu-gb.language-translator.watson.cloud.ibm.com/instances/b4903a69-5773-4962-b116-30d72dc6812c","x":4400,"y":960,"wires":[["94f2b44a.26d838","c4c0bfda.b413"]]},{"id":"94f2b44a.26d838","type":"debug","z":"9bcd2fb.f1b2dd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":4550,"y":900,"wires":[]},{"id":"c4c0bfda.b413","type":"watson-text-to-speech","z":"9bcd2fb.f1b2dd","name":"t-s","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_EmilyV3Voice","voicehidden":"en-US_EmilyV3Voice","format":"audio/wav","password":"@Amola688","apikey":"mXGjPIjxsde40PUbGvV006GBYODPlo4XyihgY9ycRdsN","payload-response":false,"service-endpoint":"https://api.eu-gb.text-to-speech.watson.cloud.ibm.com/instances/ee2b2f7d-ec7d-42bf-b701-0adc50afe57a","x":4540,"y":960,"wires":[["42f81626.517318"]]},{"id":"42f81626.517318","type":"ui_audio","z":"9bcd2fb.f1b2dd","name":"","group":"b5c2aae5.3a5dd8","voice":"hi-IN","always":"","x":4730,"y":960,"wires":[]},{"id":"c6044880.b34098","type":"ui_button","z":"9bcd2fb.f1b2dd","name":"","group":"ec18ab46.ac9668","order":2,"width":0,"height":0,"passthru":false,"label":"Warning(English)","tooltip":"","color":"","bgcolor":"","icon":"","payload":"There may be chances of flood Please Evacuate the area","payloadType":"str","topic":"","x":4220,"y":1040,"wires":[["c317b890.143108"]]},{"id":"c317b890.143108","type":"ui_audio","z":"9bcd2fb.f1b2dd","name":"","group":"ec18ab46.ac9668","voice":"en-US","always":"","x":4430,"y":1060,"wires":[]},{"id":"f852e16.1e3412","type":"e-mail","z":"9bcd2fb.f1b2dd","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"15amolsat@gmail.com","dname":"","x":3650,"y":1600,"wires":[]},{"id":"2a8e99cd.0e4396","type":"inject","z":"9bcd2fb.f1b2dd","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Test Mail","payload":"MAIL AA GYA Kya?","payloadType":"str","x":3320,"y":1640,"wires":[["f852e16.1e3412"]]},{"id":"184d64a.1d6159b","type":"debug","z":"9bcd2fb.f1b2dd","name":"sms","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":3660,"y":500,"wires":[]},{"id":"437e5ad1.a48344","type":"function","z":"9bcd2fb.f1b2dd","name":"","func":"msg.payload = \"A Red Alert has been issued by the dam. Persons in the area are encouraged to evacuate. Responsive action should be taken immediately! For more information, visit the dam website\";\nmsg.topic = \"+919871116254,+917248866867,+ 917018530752,+917668939054\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3250,"y":540,"wires":[["4a064dd6.030754"]]},{"id":"7dc6e87e.fac428","type":"function","z":"9bcd2fb.f1b2dd","name":"","func":"msg.payload = \"Test Tweet: A Red Alert has been issued by the dam. Persons in the area are encouraged to evacuate. Responsive action should be taken immediately! For more information, visit the dam website\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3400,"y":600,"wires":[["f49e15ba.d831d8"]]},{"id":"543e8ed5.b807e","type":"email out","z":"9bcd2fb.f1b2dd","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"","sendfailedcontrib":"","messagesentcontrib":"","x":3530,"y":1120,"wires":[[]]},{"id":"f49e15ba.d831d8","type":"twitter out","z":"9bcd2fb.f1b2dd","twitter":"","name":"Tweet","x":3610,"y":580,"wires":[]},{"id":"4a064dd6.030754","type":"sms","z":"9bcd2fb.f1b2dd","name":"sms","message":"","numbers":"","throttle":1000,"twilio":"5e30c74a.b7b948","x":3420,"y":500,"wires":[["184d64a.1d6159b"]]},{"id":"1a2b756c.ef9e1b","type":"ui_template","z":"9bcd2fb.f1b2dd","group":"4845a5ce.d2dcfc","name":"Clock Toolbar","order":2,"width":"0","height":"0","format":"<script id=\"titleScript\" type=\"text/javascript\">\n\n$(function() {\n    if($('.md-toolbar-tools').length != 0){\n        loadClock();\n    }else setTimeout(loadClock, 500)\n});\n\nfunction loadClock(){\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    \n    var div = $('<div/>');\n    var p = $('<p/ id=\"clock\">');\n    \n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    function upTime() {\n        var d = new Date();\n        p.text(d.toLocaleString());\n    }\n\n    if(document.clockInterval){ \n            clearInterval(document.clockInterval);\n            document.clockInterval = null;\n    }\n        \n    document.clockInterval = setInterval(upTime,1000);\n}\n\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"global","x":1560,"y":860,"wires":[[]]},{"id":"1a7647cc.6c4338","type":"ui_template","z":"9bcd2fb.f1b2dd","group":"9361f3ce.f3f4c","name":"Photo","order":2,"width":0,"height":0,"format":"<body>\n<script>\nsetInterval(function(){\n        $(\"#myimg\").attr(\"src\", \"/Detections/detection.jpg?\"+new Date().getTime());\n    },7000);\n</script>\n\n<div style=\"height:500px;\">\n    <p align='center' id=\"box\">\n        <img src=\"/Detections/detection.jpg\" id=\"myimg\">\n    </p>\n</div>\n</body>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1570,"y":760,"wires":[[]]},{"id":"7294e98c.59f0f8","type":"ui_artlessgauge","z":"9bcd2fb.f1b2dd","group":"54db2a95.307fd4","order":2,"width":6,"height":6,"name":"Water Level","icon":"","label":"Water Level","unit":"cm","layout":"radial","decimals":0,"differential":false,"minmax":true,"colorTrack":"#555555","colorFromTheme":true,"property":"payload","sectors":[{"val":0,"col":"#028302","t":"min","dot":2},{"val":27,"col":"#ffea00","t":"sec","dot":2},{"val":40,"col":"#ff8800","t":"sec","dot":2},{"val":48,"col":"#f70808","t":"sec","dot":2},{"val":53,"col":"#f70808","t":"max","dot":2}],"lineWidth":"7","bgcolorFromTheme":true,"diffCenter":"","x":2774,"y":1116,"wires":[]},{"id":"6cd715a4.c7681c","type":"function","z":"9bcd2fb.f1b2dd","name":"Weather Icon","func":"\nif(msg.data.weather[0].id==800)\n{\n  var imgUrl;\n imgUrl = \"http://openweathermap.org/img/wn/01d@2x.png\";\nmsg.payload = \"<p align='center'><img src = '\" + imgUrl + \"' alt = 'Logo image not found' /></p>\";\n}\nelse if(msg.data.weather[0].id==801)\n{\n imgUrl = \"http://openweathermap.org/img/wn/02d@2x.png\";\nmsg.payload = \"<p align='center'><img src = '\" + imgUrl + \"' alt = 'Logo image not found' /></p>\";\n}\nelse if(msg.data.weather[0].id==802)\n{\n imgUrl = \"http://openweathermap.org/img/wn/03d@2x.png\";\nmsg.payload = \"<p align='center'><img src = '\" + imgUrl + \"' alt = 'Logo image not found' /></p>\";\n}\nelse if(msg.data.weather[0].id==803||msg.data.weather[0].id==804)\n{\n imgUrl = \"http://openweathermap.org/img/wn/04d@2x.png\";\nmsg.payload = \"<p align='center'><img src = '\" + imgUrl + \"' alt = 'Logo image not found' /></p>\";\n}\nelse if(msg.data.weather[0].id==300||msg.data.weather[0].id==301||msg.data.weather[0].id==302||msg.data.weather[0].id==310||msg.data.weather[0].id==311||msg.data.weather[0].id==312||msg.data.weather[0].id==312||msg.data.weather[0].id==313||msg.data.weather[0].id==314||msg.data.weather[0].id==321)\n{\n imgUrl = \"http://openweathermap.org/img/wn/09d@2x.png\";\nmsg.payload = \"<p align='center'><img src = '\" + imgUrl + \"' alt = 'Logo image not found' /></p>\";\n}\nelse if(msg.data.weather[0].id==500||msg.data.weather[0].id==501||msg.data.weather[0].id==502||msg.data.weather[0].id==503||msg.data.weather[0].id==504||msg.data.weather[0].id==520||msg.data.weather[0].id==521||msg.data.weather[0].id==522||msg.data.weather[0].id==531)\n{\n imgUrl = \"http://openweathermap.org/img/wn/10d@2x.png\";\nmsg.payload = \"<p align='center'><img src = '\" + imgUrl + \"' alt = 'Logo image not found' /></p>\";\n}\nelse if(msg.data.weather[0].id==200||msg.data.weather[0].id==201||msg.data.weather[0].id==202||msg.data.weather[0].id==210||msg.data.weather[0].id==211||msg.data.weather[0].id==212||msg.data.weather[0].id==221||msg.data.weather[0].id==230||msg.data.weather[0].id==231||msg.data.weather[0].id==232)\n{\n imgUrl = \"http://openweathermap.org/img/wn/11d@2x.png\";\nmsg.payload = \"<p align='center'><img src = '\" + imgUrl + \"' alt = 'Logo image not found' /></p>\";\n}\nelse if(msg.data.weather[0].id==511||msg.data.weather[0].id==600||msg.data.weather[0].id==601||msg.data.weather[0].id==602||msg.data.weather[0].id==611||msg.data.weather[0].id==612||msg.data.weather[0].id==613||msg.data.weather[0].id==615||msg.data.weather[0].id==616||msg.data.weather[0].id==620||msg.data.weather[0].id==621)\n{\n imgUrl = \"http://openweathermap.org/img/wn/13d@2x.png\";\nmsg.payload = \"<p align='center'><img src = '\" + imgUrl + \"' alt = 'Logo image not found' /></p>\";\n}\nelse if(msg.data.weather[0].id==701||msg.data.weather[0].id==711||msg.data.weather[0].id==721||msg.data.weather[0].id==731||msg.data.weather[0].id==741||msg.data.weather[0].id==751||msg.data.weather[0].id==761||msg.data.weather[0].id==762||msg.data.weather[0].id==771||msg.data.weather[0].id==781)\n{\n imgUrl = \"http://openweathermap.org/img/wn/50d@2x.png\";\nmsg.payload = \"<p align='center'><img src = '\" + imgUrl + \"' alt = 'Logo image not found' /></p>\";\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":790,"y":1000,"wires":[["1346ecda.c39883"]]},{"id":"a0daad1f.9c648","type":"function","z":"9bcd2fb.f1b2dd","name":"Weather","func":"var x1=0,x2=0,x3=0,x4=0,x5=0,x6=0,x9=0,x10=0;\nif([msg.payload[0].rain[\"3h\"]])\n{\n    x1=msg.payload[0].rain[\"3h\"];\n}\nif([msg.payload[1].rain[\"3h\"]])\n{\n    x2=msg.payload[1].rain[\"3h\"];\n}\nif([msg.payload[2].rain[\"3h\"]])\n{\n    x3=msg.payload[2].rain[\"3h\"];\n}\nif([msg.payload[3].rain[\"3h\"]])\n{\n    x4=msg.payload[3].rain[\"3h\"];\n}\nif([msg.payload[4].rain[\"3h\"]])\n{\n    x5=msg.payload[4].rain[\"3h\"];\n}\nif([msg.payload[5].rain[\"3h\"]])\n{\n    x6=msg.payload[5].rain[\"3h\"];\n}\n\nif([msg.payload[8].rain[\"3h\"]])\n{\n    x8=msg.payload[8].rain[\"3h\"];\n}\nif([msg.payload[9].rain[\"3h\"]])\n{\n    x9=msg.payload[9].rain[\"3h\"];\n}\nvar m={\n    \"series\":[msg.payload[0].dt_txt,msg.payload[1].dt_txt,msg.payload[2].dt_txt,msg.payload[3].dt_txt,msg.payload[4].dt_txt,msg.payload[5].dt_txt,msg.payload[8].dt_txt,msg.payload[9].dt_txt],\n    \"data\":[[x1],[x2],[x3],[x4],[x5],[x6],[x8],[x9]],\n    \"labels\":[\"Time & Date\"]\n};\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":2060,"y":580,"wires":[["ab78d842.d1be08"]]},{"id":"1f5bdf8c.9eba9","type":"ui_group","z":"","name":"Today's Forecast","tab":"27c82e.520b87d2","order":3,"disp":true,"width":"7","collapse":false},{"id":"3e60c051.d12be","type":"ui_group","z":"","name":"Weather API","tab":"27c82e.520b87d2","order":2,"disp":true,"width":7,"collapse":false},{"id":"20f94804.639548","type":"MySQLdatabase","z":"","name":"","host":"localhost","port":"3306","db":"dam","tz":"GMT+0530"},{"id":"54db2a95.307fd4","type":"ui_group","z":"","name":"Sensor Data","tab":"27c82e.520b87d2","order":1,"disp":true,"width":14,"collapse":false},{"id":"9361f3ce.f3f4c","type":"ui_group","z":"","name":"Person Detection","tab":"27c82e.520b87d2","order":4,"disp":true,"width":14,"collapse":false},{"id":"b5c2aae5.3a5dd8","type":"ui_group","z":"","name":"Public Inform","tab":"4d7fff43.34546","order":1,"disp":true,"width":"6","collapse":false},{"id":"fa9671b8.6fe16","type":"ui_group","z":"","name":"Email to TV and Radio Stations","tab":"4d7fff43.34546","order":3,"disp":true,"width":"6","collapse":false},{"id":"ec18ab46.ac9668","type":"ui_group","z":"","name":"Voice based Alert","tab":"4d7fff43.34546","order":2,"disp":true,"width":"6","collapse":false},{"id":"5e30c74a.b7b948","type":"twilioConfig","z":"","name":"twilioConfig"},{"id":"4845a5ce.d2dcfc","type":"ui_group","z":"","name":"hidden_group","tab":"b8d888e0.286478","order":1,"disp":false,"width":"6","collapse":false},{"id":"27c82e.520b87d2","type":"ui_tab","z":"","name":"dashboard","icon":"dashboard","disabled":false,"hidden":false},{"id":"4d7fff43.34546","type":"ui_tab","z":"","name":"Public","icon":"Email to TV and Radio","disabled":false,"hidden":false},{"id":"b8d888e0.286478","type":"ui_tab","z":"","name":"Zooland Sys","icon":"home","order":1,"disabled":false,"hidden":false}]