Node-Red/Dashboard.json
[{"id":"41241f6f.41a84","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"87631c31.2f025","type":"debug","z":"41241f6f.41a84","name":"Today","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":200,"wires":[]},{"id":"e6110040.c6af3","type":"ui_text","z":"41241f6f.41a84","group":"d0851ba3.b3aad8","order":4,"width":0,"height":0,"name":"","label":"Date :","format":"{{msg.time}}","layout":"row-spread","x":910,"y":320,"wires":[]},{"id":"5e22a27f.42fa6c","type":"openweathermap","z":"41241f6f.41a84","name":"Today","wtype":"current","lon":"","lat":"","city":"cherrapunji","country":"India","language":"en","x":540,"y":400,"wires":[["87631c31.2f025","e6110040.c6af3","4485f7b7.811ff8","9f005a34.e14f28","3ba867c1.1fa6d8","fcb308b0.3a1b28","2918dddc.de8952","a4d7bee3.532ae","b7123e76.0324c","3aa4c253.87f14e","c7f0ce94.c4f7f","327394db.3c789c"]]},{"id":"c1c5c8f4.2aa7b8","type":"inject","z":"41241f6f.41a84","name":"","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":true,"onceDelay":0.1,"x":350,"y":400,"wires":[["5e22a27f.42fa6c"]]},{"id":"4485f7b7.811ff8","type":"ui_text","z":"41241f6f.41a84","group":"d0851ba3.b3aad8","order":1,"width":0,"height":0,"name":"","label":"Cherrapunji","format":"","layout":"row-center","x":870,"y":260,"wires":[]},{"id":"9f005a34.e14f28","type":"ui_text","z":"41241f6f.41a84","group":"d0851ba3.b3aad8","order":5,"width":0,"height":0,"name":"","label":"Temperature :","format":"{{data.main.temp}}° K","layout":"row-spread","x":920,"y":380,"wires":[]},{"id":"3ba867c1.1fa6d8","type":"ui_text","z":"41241f6f.41a84","group":"d0851ba3.b3aad8","order":7,"width":0,"height":0,"name":"","label":"Humidity :","format":"{{payload.humidity}}%","layout":"row-spread","x":940,"y":500,"wires":[]},{"id":"fcb308b0.3a1b28","type":"ui_text","z":"41241f6f.41a84","group":"d0851ba3.b3aad8","order":8,"width":0,"height":0,"name":"","label":"Wind Speed :","format":"{{payload.windspeed}} m/sec","layout":"row-spread","x":940,"y":660,"wires":[]},{"id":"2918dddc.de8952","type":"ui_text","z":"41241f6f.41a84","group":"d0851ba3.b3aad8","order":9,"width":0,"height":0,"name":"","label":"Wind Direction : ","format":"{{payload.winddirection}} °","layout":"row-spread","x":860,"y":800,"wires":[]},{"id":"a4d7bee3.532ae","type":"ui_text","z":"41241f6f.41a84","group":"d0851ba3.b3aad8","order":10,"width":0,"height":0,"name":"","label":"Cloudiness :","format":"{{payload.clouds}}%","layout":"row-spread","x":930,"y":560,"wires":[]},{"id":"b7123e76.0324c","type":"ui_text","z":"41241f6f.41a84","group":"d0851ba3.b3aad8","order":11,"width":0,"height":0,"name":"","label":"Pressure :","format":"{{payload.pressure}} hPa","layout":"row-spread","x":850,"y":880,"wires":[]},{"id":"3aa4c253.87f14e","type":"ui_text","z":"41241f6f.41a84","group":"d0851ba3.b3aad8","order":3,"width":0,"height":0,"name":"","label":"Weather Description ","format":"{{data.weather[0].description}}","layout":"row-spread","x":920,"y":720,"wires":[]},{"id":"c7f0ce94.c4f7f","type":"ui_text","z":"41241f6f.41a84","group":"d0851ba3.b3aad8","order":6,"width":0,"height":0,"name":"","label":"Temperature Feels like :","format":"{{data.main.feels_like}}°K","layout":"row-spread","x":930,"y":440,"wires":[]},{"id":"327394db.3c789c","type":"function","z":"41241f6f.41a84","name":"Weather Icon","func":"\nif(msg.data.weather[0].id==800)\n{\n  var imgUrl;\n imgUrl = \"http://openweathermap.org/img/wn/01d@2x.png\";\nmsg.payload = \"<p align='center'><img src = '\" + imgUrl + \"' alt = 'Logo image not found' /></p>\";\n}\nelse if(msg.data.weather[0].id==801)\n{\n imgUrl = \"http://openweathermap.org/img/wn/02d@2x.png\";\nmsg.payload = \"<p align='center'><img src = '\" + imgUrl + \"' alt = 'Logo image not found' /></p>\";\n}\nelse if(msg.data.weather[0].id==802)\n{\n imgUrl = \"http://openweathermap.org/img/wn/03d@2x.png\";\nmsg.payload = \"<p align='center'><img src = '\" + imgUrl + \"' alt = 'Logo image not found' /></p>\";\n}\nelse if(msg.data.weather[0].id==803||msg.data.weather[0].id==804)\n{\n imgUrl = \"http://openweathermap.org/img/wn/04d@2x.png\";\nmsg.payload = \"<p align='center'><img src = '\" + imgUrl + \"' alt = 'Logo image not found' /></p>\";\n}\nelse if(msg.data.weather[0].id==300||msg.data.weather[0].id==301||msg.data.weather[0].id==302||msg.data.weather[0].id==310||msg.data.weather[0].id==311||msg.data.weather[0].id==312||msg.data.weather[0].id==312||msg.data.weather[0].id==313||msg.data.weather[0].id==314||msg.data.weather[0].id==321)\n{\n imgUrl = \"http://openweathermap.org/img/wn/09d@2x.png\";\nmsg.payload = \"<p align='center'><img src = '\" + imgUrl + \"' alt = 'Logo image not found' /></p>\";\n}\nelse if(msg.data.weather[0].id==500||msg.data.weather[0].id==501||msg.data.weather[0].id==502||msg.data.weather[0].id==503||msg.data.weather[0].id==504||msg.data.weather[0].id==520||msg.data.weather[0].id==521||msg.data.weather[0].id==522||msg.data.weather[0].id==531)\n{\n imgUrl = \"http://openweathermap.org/img/wn/10d@2x.png\";\nmsg.payload = \"<p align='center'><img src = '\" + imgUrl + \"' alt = 'Logo image not found' /></p>\";\n}\nelse if(msg.data.weather[0].id==200||msg.data.weather[0].id==201||msg.data.weather[0].id==202||msg.data.weather[0].id==210||msg.data.weather[0].id==211||msg.data.weather[0].id==212||msg.data.weather[0].id==221||msg.data.weather[0].id==230||msg.data.weather[0].id==231||msg.data.weather[0].id==232)\n{\n imgUrl = \"http://openweathermap.org/img/wn/11d@2x.png\";\nmsg.payload = \"<p align='center'><img src = '\" + imgUrl + \"' alt = 'Logo image not found' /></p>\";\n}\nelse if(msg.data.weather[0].id==511||msg.data.weather[0].id==600||msg.data.weather[0].id==601||msg.data.weather[0].id==602||msg.data.weather[0].id==611||msg.data.weather[0].id==612||msg.data.weather[0].id==613||msg.data.weather[0].id==615||msg.data.weather[0].id==616||msg.data.weather[0].id==620||msg.data.weather[0].id==621)\n{\n imgUrl = \"http://openweathermap.org/img/wn/13d@2x.png\";\nmsg.payload = \"<p align='center'><img src = '\" + imgUrl + \"' alt = 'Logo image not found' /></p>\";\n}\nelse if(msg.data.weather[0].id==701||msg.data.weather[0].id==711||msg.data.weather[0].id==721||msg.data.weather[0].id==731||msg.data.weather[0].id==741||msg.data.weather[0].id==751||msg.data.weather[0].id==761||msg.data.weather[0].id==762||msg.data.weather[0].id==771||msg.data.weather[0].id==781)\n{\n imgUrl = \"http://openweathermap.org/img/wn/50d@2x.png\";\nmsg.payload = \"<p align='center'><img src = '\" + imgUrl + \"' alt = 'Logo image not found' /></p>\";\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":830,"y":980,"wires":[["ab7f4036.cc71f"]]},{"id":"ab7f4036.cc71f","type":"ui_template","z":"41241f6f.41a84","group":"d0851ba3.b3aad8","name":"","order":2,"width":0,"height":0,"format":"<div height=\"100\" style=\"height:100px; float: right\">\n    <div ng-bind-html = \"msg.payload\" width=\"500px\"> \n        <br/>\n    </div>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1020,"y":980,"wires":[[]]},{"id":"2568fde1.7c1a02","type":"openweathermap","z":"41241f6f.41a84","name":"2 Days Forecast","wtype":"forecast","lon":"","lat":"","city":"cherrapunji","country":"India","language":"en","x":1840,"y":340,"wires":[["82aaf4f7.df38f8","4b28682c.954718","3df229d7.b1e066","b4b870fa.c0597","45d88c34.e8c9d4","623ddb3b.f93a34","ad55e8e.b67bc18","1e799db.196c862","b6f64be4.2c07f8","4dd249ca.c0c968","34de8112.c6b5fe"]]},{"id":"dc728458.08d4b8","type":"inject","z":"41241f6f.41a84","name":"","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":true,"onceDelay":0.1,"x":1640,"y":340,"wires":[["2568fde1.7c1a02"]]},{"id":"82aaf4f7.df38f8","type":"debug","z":"41241f6f.41a84","name":"2DaysForecast","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2400,"y":80,"wires":[]},{"id":"4b28682c.954718","type":"ui_text","z":"41241f6f.41a84","group":"e23e0bd6.de6d38","order":1,"width":0,"height":0,"name":"","label":"City:","format":"{{msg.location.city}}","layout":"row-left","x":2370,"y":140,"wires":[]},{"id":"b4b870fa.c0597","type":"ui_text","z":"41241f6f.41a84","group":"e23e0bd6.de6d38","order":3,"width":0,"height":0,"name":"2r","label":" Rain :","format":"{{msg.payload[1].rain[\"3h\"]}} m.m. ","layout":"row-spread","x":2360,"y":240,"wires":[]},{"id":"623ddb3b.f93a34","type":"ui_text","z":"41241f6f.41a84","group":"e23e0bd6.de6d38","order":5,"width":0,"height":0,"name":"2d","label":"Description :","format":"{{msg.payload[1].weather[0].description}}","layout":"row-spread","x":2360,"y":360,"wires":[]},{"id":"3df229d7.b1e066","type":"ui_text","z":"41241f6f.41a84","group":"e23e0bd6.de6d38","order":2,"width":0,"height":0,"name":"","label":" Date and Time","format":"{{msg.payload[1].dt_txt}}","layout":"row-spread","x":2370,"y":180,"wires":[]},{"id":"45d88c34.e8c9d4","type":"ui_text","z":"41241f6f.41a84","group":"e23e0bd6.de6d38","order":4,"width":0,"height":0,"name":"2c","label":"Cloudiness :","format":"{{msg.payload[1].clouds.all}} %  ","layout":"row-spread","x":2360,"y":300,"wires":[]},{"id":"a932c9a2.876db8","type":"ui_chart","z":"41241f6f.41a84","name":"","group":"e23e0bd6.de6d38","order":10,"width":0,"height":0,"label":"Rain Level of coming 2 Days","chartType":"bar","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2360,"y":640,"wires":[[]]},{"id":"1e799db.196c862","type":"ui_text","z":"41241f6f.41a84","group":"e23e0bd6.de6d38","order":7,"width":0,"height":0,"name":"3r","label":"Rain :","format":"{{msg.payload[2].rain[\"3h\"]}} m.m. ","layout":"row-spread","x":2360,"y":460,"wires":[]},{"id":"4dd249ca.c0c968","type":"ui_text","z":"41241f6f.41a84","group":"e23e0bd6.de6d38","order":9,"width":0,"height":0,"name":"3d","label":"Description :","format":"{{msg.payload[2].weather[0].description}}","layout":"row-spread","x":2360,"y":580,"wires":[]},{"id":"ad55e8e.b67bc18","type":"ui_text","z":"41241f6f.41a84","group":"e23e0bd6.de6d38","order":6,"width":0,"height":0,"name":"","label":" Date and Time","format":"{{msg.payload[2].dt_txt}}","layout":"row-spread","x":2360,"y":400,"wires":[]},{"id":"b6f64be4.2c07f8","type":"ui_text","z":"41241f6f.41a84","group":"e23e0bd6.de6d38","order":8,"width":0,"height":0,"name":"3c","label":"Cloudiness :","format":"{{msg.payload[2].clouds.all}} %  ","layout":"row-spread","x":2360,"y":520,"wires":[]},{"id":"34de8112.c6b5fe","type":"function","z":"41241f6f.41a84","name":"Weather","func":"var x1=0,x2=0,x3=0,x4=0,x5=0,x6=0,x7=0,x8=0,x9=0,x10=0;\nif([msg.payload[0].rain[\"3h\"]])\n{\n    x1=msg.payload[0].rain[\"3h\"];\n}\nif([msg.payload[1].rain[\"3h\"]])\n{\n    x2=msg.payload[1].rain[\"3h\"];\n}\nif([msg.payload[2].rain[\"3h\"]])\n{\n    x3=msg.payload[2].rain[\"3h\"];\n}\nif([msg.payload[3].rain[\"3h\"]])\n{\n    x4=msg.payload[3].rain[\"3h\"];\n}\nif([msg.payload[4].rain[\"3h\"]])\n{\n    x5=msg.payload[4].rain[\"3h\"];\n}\nif([msg.payload[5].rain[\"3h\"]])\n{\n    x6=msg.payload[5].rain[\"3h\"];\n}\nif([msg.payload[6].rain[\"3h\"]])\n{\n    x7=msg.payload[6].rain[\"3h\"];\n}\nif([msg.payload[7].rain[\"3h\"]])\n{\n    x8=msg.payload[7].rain[\"3h\"];\n}\nif([msg.payload[8].rain[\"3h\"]])\n{\n    x9=msg.payload[8].rain[\"3h\"];\n}\nif([msg.payload[9].rain[\"3h\"]])\n{\n    x10=msg.payload[9].rain[\"3h\"];\n}\n\nvar m={\n    \"series\":[msg.payload[0].dt_txt,msg.payload[1].dt_txt,msg.payload[2].dt_txt,msg.payload[3].dt_txt,msg.payload[4].dt_txt,msg.payload[5].dt_txt,msg.payload[6].dt_txt,msg.payload[7].dt_txt,msg.payload[8].dt_txt,msg.payload[9].dt_txt,msg.payload[10].dt_txt],\n    \"data\":[[x1],[x2],[x3],[x4],[x5],[x6],[x7],[x8],[x9],[x10]],\n    \"labels\":[\"Time & Date\"]\n};\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":2040,"y":560,"wires":[["a932c9a2.876db8"]]},{"id":"d17b0b2a.5850a8","type":"inject","z":"41241f6f.41a84","name":"sql","topic":"","payloadType":"str","repeat":"12","crontab":"","once":true,"onceDelay":0.1,"x":1980,"y":1160,"wires":[["ba5f568d.6c9228"]]},{"id":"d793067c.f99e28","type":"mysql","z":"41241f6f.41a84","mydb":"7f00dcac.efae94","name":"SensorData","x":2220,"y":1080,"wires":[["2b5f565c.43513a","9fccdc1d.f95be","a1937bbb.cb45b8"]]},{"id":"2b5f565c.43513a","type":"debug","z":"41241f6f.41a84","name":"SensorData","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2360,"y":1260,"wires":[]},{"id":"ba5f568d.6c9228","type":"function","z":"41241f6f.41a84","name":"query","func":"msg.topic = \"SELECT * FROM SensorData ORDER BY time DESC LIMIT 50;\"\nreturn msg;","outputs":1,"noerr":0,"x":2120,"y":1280,"wires":[["d793067c.f99e28"]]},{"id":"9fccdc1d.f95be","type":"function","z":"41241f6f.41a84","name":"","func":"var chart = [{\n    \"series\":[\"A\"],\n    \"data\":[[{\"x\":msg.payload[0].time,\"y\":msg.payload[0].data},{\"x\":msg.payload[1].time,\"y\":msg.payload[1].data},{\"x\":msg.payload[2].time,\"y\":msg.payload[2].data},{\"x\":msg.payload[3].time,\"y\":msg.payload[3].data},{\"x\":msg.payload[4].time,\"y\":msg.payload[4].data},{\"x\":msg.payload[5].time,\"y\":msg.payload[5].data},{\"x\":msg.payload[6].time,\"y\":msg.payload[6].data},{\"x\":msg.payload[7].time,\"y\":msg.payload[7].data},{\"x\":msg.payload[8].time,\"y\":msg.payload[8].data},{\"x\":msg.payload[9].time,\"y\":msg.payload[9].data},{\"x\":msg.payload[10].time,\"y\":msg.payload[10].data},{\"x\":msg.payload[11].time,\"y\":msg.payload[11].data},{\"x\":msg.payload[12].time,\"y\":msg.payload[12].data},{\"x\":msg.payload[13].time,\"y\":msg.payload[13].data},{\"x\":msg.payload[14].time,\"y\":msg.payload[14].data},]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":2410,"y":980,"wires":[["5a8df0fe.e2431"]]},{"id":"5a8df0fe.e2431","type":"ui_chart","z":"41241f6f.41a84","name":"","group":"a796f6c4.7a4df8","order":1,"width":5,"height":6,"label":"Water Level Graph","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"No Data","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2600,"y":1080,"wires":[[]]},{"id":"26a8d9c8.ac8646","type":"ui_gauge","z":"41241f6f.41a84","name":"","group":"a796f6c4.7a4df8","order":2,"width":4,"height":6,"gtype":"gage","title":"Water Level","label":"cm","format":"{{value}}","min":0,"max":"48","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2570,"y":1120,"wires":[]},{"id":"a1937bbb.cb45b8","type":"function","z":"41241f6f.41a84","name":"","func":"var curLevel = flow.set('curLevel',msg.payload[0].data)\nmsg.payload=msg.payload[0].data;\nreturn msg;","outputs":1,"noerr":0,"x":2430,"y":1160,"wires":[["26a8d9c8.ac8646","788947ff.ecc318"]]},{"id":"788947ff.ecc318","type":"ui_text","z":"41241f6f.41a84","group":"a796f6c4.7a4df8","order":3,"width":9,"height":1,"name":"","label":"Current water level","format":"{{msg.payload}} cm","layout":"row-spread","x":2640,"y":1180,"wires":[]},{"id":"dbafd512.bfb958","type":"inject","z":"41241f6f.41a84","name":"sql","topic":"","repeat":"12","crontab":"","once":true,"onceDelay":0.1,"x":730,"y":1380,"wires":[["9be6a04.f3e3b6"]]},{"id":"a71298bc.897868","type":"mysql","z":"41241f6f.41a84","mydb":"7f00dcac.efae94","name":"RemTime","x":960,"y":1300,"wires":[["af5227a8.2f56c8","82668cb7.b76a9"]]},{"id":"af5227a8.2f56c8","type":"debug","z":"41241f6f.41a84","name":"RemTime","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1260,"y":1540,"wires":[]},{"id":"9be6a04.f3e3b6","type":"function","z":"41241f6f.41a84","name":"query","func":"msg.topic = msg.topic = \"SELECT * FROM REMTIME ORDER BY time DESC;\"\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":1500,"wires":[["a71298bc.897868"]]},{"id":"d04462ed.80b41","type":"ui_text","z":"41241f6f.41a84","group":"a796f6c4.7a4df8","order":4,"width":9,"height":1,"name":"","label":"Time till FSL: ","format":"{{msg.payload}}","layout":"row-spread","x":1350,"y":1220,"wires":[]},{"id":"82668cb7.b76a9","type":"function","z":"41241f6f.41a84","name":"","func":"var remTime = flow.set('remTime',msg.payload[0].rem)\nmsg.payload= msg.payload[0].rem;\nreturn msg;","outputs":1,"noerr":0,"x":1180,"y":1240,"wires":[["d04462ed.80b41"]]},{"id":"832bc43b.7a2f68","type":"ui_template","z":"41241f6f.41a84","group":"616c3980.f7e968","name":"","order":1,"width":"9","height":"6","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":2800,"y":280,"wires":[[]]},{"id":"d0851ba3.b3aad8","type":"ui_group","z":"","name":"Today's Forecast","tab":"fb3d40d0.70805","order":3,"disp":true,"width":"7","collapse":false},{"id":"e23e0bd6.de6d38","type":"ui_group","z":"","name":"Weather API","tab":"fb3d40d0.70805","order":2,"disp":true,"width":"6","collapse":false},{"id":"7f00dcac.efae94","type":"MySQLdatabase","z":"","name":"","host":"localhost","port":"3306","db":"dam","tz":"GMT+0530"},{"id":"a796f6c4.7a4df8","type":"ui_group","z":"","name":"Sensor Data","tab":"fb3d40d0.70805","order":1,"disp":true,"width":9,"collapse":false},{"id":"616c3980.f7e968","type":"ui_group","z":"","name":"Person Detection","tab":"fb3d40d0.70805","order":4,"disp":true,"width":9,"collapse":false},{"id":"fb3d40d0.70805","type":"ui_tab","z":"","name":"dashboard","icon":"dashboard","disabled":false,"hidden":false}]