Node-Red/Dashboard.json
[{"id":"69d8cd58.1d16e4","type":"tab","label":"dasboard and public inform","disabled":false,"info":""},{"id":"a7ae6bc7.936b48","type":"debug","z":"69d8cd58.1d16e4","name":"Today","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":200,"wires":[]},{"id":"79d1e3d4.74d2cc","type":"openweathermap","z":"69d8cd58.1d16e4","name":"Today","wtype":"current","lon":"","lat":"","city":"Cherrapunji","country":"India","language":"en","x":540,"y":400,"wires":[["a7ae6bc7.936b48","78bbef24.26a5f","85a15adb.f87188","a4820cb3.8d0db","d23f3de6.66b72","3fbe9e92.c76ab2","7390473c.af94b8","4fc45808.858ae8","ef6cbfa6.82108","fa4c8ab5.ce2e68","e4e62127.45e08"]]},{"id":"90a5c89e.23b988","type":"inject","z":"69d8cd58.1d16e4","name":"","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":true,"onceDelay":0.1,"x":350,"y":400,"wires":[["79d1e3d4.74d2cc"]]},{"id":"78bbef24.26a5f","type":"ui_text","z":"69d8cd58.1d16e4","group":"5c319400.26f08c","order":1,"width":0,"height":0,"name":"","label":"Location :","format":"{{msg.location.city}}","layout":"row-center","x":860,"y":260,"wires":[]},{"id":"85a15adb.f87188","type":"ui_text","z":"69d8cd58.1d16e4","group":"5c319400.26f08c","order":5,"width":0,"height":0,"name":"","label":"Temperature :","format":"{{data.main.temp}}° K","layout":"row-spread","x":920,"y":380,"wires":[]},{"id":"a4820cb3.8d0db","type":"ui_text","z":"69d8cd58.1d16e4","group":"5c319400.26f08c","order":7,"width":0,"height":0,"name":"","label":"Humidity :","format":"{{payload.humidity}}%","layout":"row-spread","x":940,"y":500,"wires":[]},{"id":"d23f3de6.66b72","type":"ui_text","z":"69d8cd58.1d16e4","group":"5c319400.26f08c","order":8,"width":0,"height":0,"name":"","label":"Wind Speed :","format":"{{payload.windspeed}} m/sec","layout":"row-spread","x":940,"y":660,"wires":[]},{"id":"3fbe9e92.c76ab2","type":"ui_text","z":"69d8cd58.1d16e4","group":"5c319400.26f08c","order":9,"width":0,"height":0,"name":"","label":"Wind Direction : ","format":"{{payload.winddirection}} °","layout":"row-spread","x":860,"y":800,"wires":[]},{"id":"7390473c.af94b8","type":"ui_text","z":"69d8cd58.1d16e4","group":"5c319400.26f08c","order":10,"width":0,"height":0,"name":"","label":"Cloudiness :","format":"{{payload.clouds}}%","layout":"row-spread","x":930,"y":560,"wires":[]},{"id":"4fc45808.858ae8","type":"ui_text","z":"69d8cd58.1d16e4","group":"5c319400.26f08c","order":11,"width":0,"height":0,"name":"","label":"Pressure :","format":"{{payload.pressure}} hPa","layout":"row-spread","x":850,"y":880,"wires":[]},{"id":"ef6cbfa6.82108","type":"ui_text","z":"69d8cd58.1d16e4","group":"5c319400.26f08c","order":3,"width":0,"height":0,"name":"","label":"Weather Description ","format":"{{data.weather[0].description}}","layout":"row-spread","x":920,"y":720,"wires":[]},{"id":"fa4c8ab5.ce2e68","type":"ui_text","z":"69d8cd58.1d16e4","group":"5c319400.26f08c","order":6,"width":0,"height":0,"name":"","label":"Temperature Feels like :","format":"{{data.main.feels_like}}°K","layout":"row-spread","x":930,"y":440,"wires":[]},{"id":"2994027a.3ee77e","type":"ui_template","z":"69d8cd58.1d16e4","group":"5c319400.26f08c","name":"","order":2,"width":0,"height":0,"format":"<div height=\"100\" style=\"height:100px; float: right\">\n    <div ng-bind-html = \"msg.payload\" width=\"500px\"> \n        <br/>\n    </div>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1020,"y":980,"wires":[[]]},{"id":"687eab77.e41604","type":"openweathermap","z":"69d8cd58.1d16e4","name":"2 Days Forecast","wtype":"forecast","lon":"","lat":"","city":"Cherrapunji","country":"India","language":"en","x":1840,"y":340,"wires":[["dfe96aa5.45bec8","3fb12c0b.7a6014","b7912caf.daa31","929b3e0.ee49bc","514355b3.74defc","3840f0e2.8509b","80008168.4738a","ba3f4e5.9e518b","b1dbfb19.f24798"]]},{"id":"e5055349.fab","type":"inject","z":"69d8cd58.1d16e4","name":"","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":true,"onceDelay":0.1,"x":1640,"y":340,"wires":[["687eab77.e41604"]]},{"id":"dfe96aa5.45bec8","type":"debug","z":"69d8cd58.1d16e4","name":"2DaysForecast","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2400,"y":80,"wires":[]},{"id":"3fb12c0b.7a6014","type":"ui_text","z":"69d8cd58.1d16e4","group":"63b3bca6.c74f74","order":1,"width":0,"height":0,"name":"","label":"Location :","format":"{{msg.location.city}}","layout":"row-left","x":2380,"y":140,"wires":[]},{"id":"b7912caf.daa31","type":"ui_text","z":"69d8cd58.1d16e4","group":"63b3bca6.c74f74","order":3,"width":0,"height":0,"name":"2r","label":" Rain :","format":"{{msg.payload[1].rain[\"3h\"]}} m.m. ","layout":"row-spread","x":2360,"y":240,"wires":[]},{"id":"514355b3.74defc","type":"ui_text","z":"69d8cd58.1d16e4","group":"63b3bca6.c74f74","order":5,"width":0,"height":0,"name":"2d","label":"Description :","format":"{{msg.payload[1].weather[0].description}}","layout":"row-spread","x":2360,"y":360,"wires":[]},{"id":"929b3e0.ee49bc","type":"ui_text","z":"69d8cd58.1d16e4","group":"63b3bca6.c74f74","order":4,"width":0,"height":0,"name":"2c","label":"Cloudiness :","format":"{{msg.payload[1].clouds.all}} %  ","layout":"row-spread","x":2360,"y":300,"wires":[]},{"id":"41b7c234.78590c","type":"ui_chart","z":"69d8cd58.1d16e4","name":"","group":"63b3bca6.c74f74","order":10,"width":7,"height":6,"label":"Rain Level of coming 2 Days","chartType":"bar","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2360,"y":640,"wires":[[]]},{"id":"3840f0e2.8509b","type":"ui_text","z":"69d8cd58.1d16e4","group":"63b3bca6.c74f74","order":7,"width":0,"height":0,"name":"3r","label":"Rain :","format":"{{msg.payload[2].rain[\"3h\"]}} m.m. ","layout":"row-spread","x":2360,"y":460,"wires":[]},{"id":"ba3f4e5.9e518b","type":"ui_text","z":"69d8cd58.1d16e4","group":"63b3bca6.c74f74","order":9,"width":0,"height":0,"name":"3d","label":"Description :","format":"{{msg.payload[2].weather[0].description}}","layout":"row-spread","x":2360,"y":580,"wires":[]},{"id":"80008168.4738a","type":"ui_text","z":"69d8cd58.1d16e4","group":"63b3bca6.c74f74","order":8,"width":0,"height":0,"name":"3c","label":"Cloudiness :","format":"{{msg.payload[2].clouds.all}} %  ","layout":"row-spread","x":2360,"y":520,"wires":[]},{"id":"d3389ab1.641ce8","type":"inject","z":"69d8cd58.1d16e4","name":"sql","topic":"","payloadType":"str","repeat":"12","crontab":"","once":true,"onceDelay":0.1,"x":1980,"y":1160,"wires":[["346492a0.d4899e"]]},{"id":"2aec48f4.7e08c8","type":"mysql","z":"69d8cd58.1d16e4","mydb":"f93d778d.855098","name":"SensorData","x":2220,"y":1080,"wires":[["4e8c9f6f.61d6f","950b09e0.3167c8","f0a7d073.d31df"]]},{"id":"4e8c9f6f.61d6f","type":"debug","z":"69d8cd58.1d16e4","name":"SensorData","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2360,"y":1260,"wires":[]},{"id":"346492a0.d4899e","type":"function","z":"69d8cd58.1d16e4","name":"query","func":"msg.topic = \"SELECT * FROM SensorData ORDER BY time DESC LIMIT 50;\"\nreturn msg;","outputs":1,"noerr":0,"x":2120,"y":1280,"wires":[["2aec48f4.7e08c8"]]},{"id":"950b09e0.3167c8","type":"function","z":"69d8cd58.1d16e4","name":"","func":"var chart = [{\n    \"series\":[\"A\"],\n    \"data\":[[{\"x\":msg.payload[0].time,\"y\":msg.payload[0].data},{\"x\":msg.payload[1].time,\"y\":msg.payload[1].data},{\"x\":msg.payload[2].time,\"y\":msg.payload[2].data},{\"x\":msg.payload[3].time,\"y\":msg.payload[3].data},{\"x\":msg.payload[4].time,\"y\":msg.payload[4].data},{\"x\":msg.payload[5].time,\"y\":msg.payload[5].data},{\"x\":msg.payload[6].time,\"y\":msg.payload[6].data},{\"x\":msg.payload[7].time,\"y\":msg.payload[7].data},{\"x\":msg.payload[8].time,\"y\":msg.payload[8].data},{\"x\":msg.payload[9].time,\"y\":msg.payload[9].data},{\"x\":msg.payload[10].time,\"y\":msg.payload[10].data},{\"x\":msg.payload[11].time,\"y\":msg.payload[11].data},{\"x\":msg.payload[12].time,\"y\":msg.payload[12].data},{\"x\":msg.payload[13].time,\"y\":msg.payload[13].data},{\"x\":msg.payload[14].time,\"y\":msg.payload[14].data},]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;","outputs":1,"noerr":0,"x":2410,"y":980,"wires":[["5c4d5ffa.e8dac","d9efd54f.6497b8"]]},{"id":"5c4d5ffa.e8dac","type":"ui_chart","z":"69d8cd58.1d16e4","name":"","group":"cb473aa3.c832a8","order":1,"width":8,"height":6,"label":"Water Level Graph","chartType":"line","legend":"true","xformat":"auto","interpolate":"linear","nodata":"No Data","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2670,"y":1000,"wires":[[]]},{"id":"f0a7d073.d31df","type":"function","z":"69d8cd58.1d16e4","name":"","func":"var curLevel = flow.set('curLevel',msg.payload[0].data)\nmsg.payload=msg.payload[0].data;\nreturn msg;","outputs":1,"noerr":0,"x":2430,"y":1160,"wires":[["297b250b.fa7e6a"]]},{"id":"297b250b.fa7e6a","type":"ui_text","z":"69d8cd58.1d16e4","group":"cb473aa3.c832a8","order":3,"width":9,"height":1,"name":"","label":"Current water level","format":"{{msg.payload}} cm","layout":"row-spread","x":2640,"y":1180,"wires":[]},{"id":"cd858428.e4b5d8","type":"inject","z":"69d8cd58.1d16e4","name":"sql","topic":"","repeat":"12","crontab":"","once":true,"onceDelay":0.1,"x":730,"y":1380,"wires":[["f1b54d35.3a6fd"]]},{"id":"5d4bd974.0cc858","type":"mysql","z":"69d8cd58.1d16e4","mydb":"f93d778d.855098","name":"RemTime","x":960,"y":1300,"wires":[["3668b34e.16e40c","6f7cc0ff.97e2c"]]},{"id":"3668b34e.16e40c","type":"debug","z":"69d8cd58.1d16e4","name":"RemTime","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1260,"y":1540,"wires":[]},{"id":"f1b54d35.3a6fd","type":"function","z":"69d8cd58.1d16e4","name":"query","func":"msg.topic = msg.topic = \"SELECT * FROM REMTIME ORDER BY time DESC;\"\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":1500,"wires":[["5d4bd974.0cc858"]]},{"id":"e14a2a4d.4e2598","type":"ui_text","z":"69d8cd58.1d16e4","group":"cb473aa3.c832a8","order":5,"width":9,"height":1,"name":"","label":"Time till FSL: ","format":"{{msg.payload}}","layout":"row-spread","x":1350,"y":1220,"wires":[]},{"id":"6f7cc0ff.97e2c","type":"function","z":"69d8cd58.1d16e4","name":"","func":"var remTime = flow.set('remTime',msg.payload[0].rem)\nmsg.payload= msg.payload[0].rem;\nreturn msg;","outputs":1,"noerr":0,"x":1180,"y":1240,"wires":[["e14a2a4d.4e2598"]]},{"id":"1f2b4123.1caddf","type":"inject","z":"69d8cd58.1d16e4","name":"sql","topic":"","repeat":"7","crontab":"","once":true,"onceDelay":0.1,"x":1570,"y":1500,"wires":[["6d0fd37f.4d8e8c"]]},{"id":"17892ed0.a5a541","type":"mysql","z":"69d8cd58.1d16e4","mydb":"f93d778d.855098","name":"People","x":2000,"y":1500,"wires":[["c5dbdb9b.2d8468","f912fca3.942d6"]]},{"id":"c5dbdb9b.2d8468","type":"debug","z":"69d8cd58.1d16e4","name":"People","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2280,"y":1540,"wires":[]},{"id":"6d0fd37f.4d8e8c","type":"function","z":"69d8cd58.1d16e4","name":"query","func":"msg.topic = \"SELECT * FROM PEOPLE ORDER BY time DESC;\"\nreturn msg;","outputs":1,"noerr":0,"x":1770,"y":1500,"wires":[["17892ed0.a5a541"]]},{"id":"f912fca3.942d6","type":"function","z":"69d8cd58.1d16e4","name":"","func":"msg.payload=msg.payload[0].data;\nreturn msg;","outputs":1,"noerr":0,"x":2320,"y":1440,"wires":[["92452e0d.1e529"]]},{"id":"92452e0d.1e529","type":"ui_text","z":"69d8cd58.1d16e4","group":"547900cc.b230d","order":1,"width":0,"height":0,"name":"","label":"People Count:","format":"{{msg.payload}}","layout":"row-left","x":2560,"y":1480,"wires":[]},{"id":"fbbee121.d64d2","type":"function","z":"69d8cd58.1d16e4","name":"","func":"H = flow.set('H',48)\nreturn msg;","outputs":1,"noerr":0,"x":1890,"y":1720,"wires":[[]]},{"id":"b2ba11b6.d11aa","type":"inject","z":"69d8cd58.1d16e4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1680,"y":1720,"wires":[["fbbee121.d64d2"]]},{"id":"50b17434.1a8e9c","type":"http request","z":"69d8cd58.1d16e4","name":"Telegram-officials Auto","method":"POST","ret":"txt","paytoqs":true,"url":"https://api.telegram.org/bot493679639:AAG22nKFEE9jdklnRI1mpt3Zqa32EFZVbpE/sendMessage","tls":"","persist":false,"proxy":"","authType":"","x":2380,"y":1660,"wires":[["5a8efc84.8c9194"]]},{"id":"4bcc1554.42376c","type":"function","z":"69d8cd58.1d16e4","name":"","func":"H = flow.get('H') || 53\ntime = flow.get('remTime')\nlevel = flow.get('curLevel')\nmul = flow.get('mul') || 0.5\n\nif (level >= mul*H && mul*H < 0.75*H)\n{\n    message = \"Yellow Alert!\\nReservoir water level is \"+ (mul*100) +\"% of FRL.\\nCurrent water level: \"+level+\" cm\\nEstimated time: \"+time\n    msg.payload = {\"chat_id\" : '-1001461001837',\"text\" : message}\n    mul += 0.05\n    flow.set('mul',mul)\n    return msg;\n}\n\nif (level >= mul*H && mul*H < 0.9*H)\n{\n    message = \"Orange Alert!\\nReservoir water level is \"+ (mul*100) +\"% of FRL.\\nCurrent water level: \"+level+\" cm\\nEstimated time: \"+time\n    msg.payload = {\"chat_id\" : '-1001461001837',\"text\" : message}\n    mul += 0.5\n    flow.set('mul',mul)\n    return msg;\n}\n\nif (level >= mul*H >= 0.9*H && mul*H < H)\n{\n    message = \"Red Alert!\\nReservoir water level is \"+ (mul*100) +\"% of FRL.\\nCurrent water level: \"+level+\" cm\\nEstimated time: \"+time\n    msg.payload = {\"chat_id\" : '-1001461001837',\"text\" : message}\n    mul += 0.1\n    flow.set('mul',mul)\n    return msg;\n}\n\nif (level >= H)\n{\n    message = \"Red Alert!\\nCRITICAL SITUATION\\nWater level rising above FRL\\nCurrent water level: \"+level+\" cm\"\n    msg.payload = {\"chat_id\" : '-1001461001837',\"text\" : message}\n    flow.set('mul',mul)\n    return msg;\n}\n\n\n","outputs":1,"noerr":0,"x":2090,"y":1760,"wires":[["50b17434.1a8e9c"]]},{"id":"5a8efc84.8c9194","type":"debug","z":"69d8cd58.1d16e4","name":"Telegram","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2590,"y":1760,"wires":[]},{"id":"59a7b692.710828","type":"inject","z":"69d8cd58.1d16e4","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":0.1,"x":2030,"y":1940,"wires":[["4bcc1554.42376c"]]},{"id":"62eb9ec4.22bf","type":"debug","z":"69d8cd58.1d16e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":3400,"y":800,"wires":[]},{"id":"e12da6ca.aef348","type":"ui_button","z":"69d8cd58.1d16e4","name":"","group":"d967c48c.d9fb08","order":1,"width":0,"height":0,"passthru":false,"label":"Alert","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":3140,"y":680,"wires":[["62eb9ec4.22bf","9b9b8a92.e13d18","5aadfb4.ecd5204","1ad1a129.986bcf","de79bbb0.8bca48"]]},{"id":"9b9b8a92.e13d18","type":"function","z":"69d8cd58.1d16e4","name":"","func":"if(msg.payload!=1)\n{\n    msg.payload=0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":3210,"y":860,"wires":[[]]},{"id":"f50ed51f.7c7998","type":"inject","z":"69d8cd58.1d16e4","name":"","topic":"","payload":"0","payloadType":"num","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":2940,"y":820,"wires":[["9b9b8a92.e13d18"]]},{"id":"295d2490.673bbc","type":"http request","z":"69d8cd58.1d16e4","name":"","method":"GET","ret":"txt","paytoqs":true,"url":"https://api.telegram.org/bot493679639:AAG22nKFEE9jdklnRI1mpt3Zqa32EFZVbpE/sendMessage","tls":"","persist":false,"proxy":"","authType":"","x":3840,"y":680,"wires":[["9186eb7b.508588"]]},{"id":"5aadfb4.ecd5204","type":"function","z":"69d8cd58.1d16e4","name":"","func":"m=\"A Red Alert has been issued by the dam. Persons in the area are encouraged to evacuate. Responsive action should be taken immediately! For more information, visit the dam website\"\nmsg.payload = {\"chat_id\" : '@informPublic',\"text\" : m}\nreturn msg;","outputs":1,"noerr":0,"x":3580,"y":700,"wires":[["295d2490.673bbc"]]},{"id":"9186eb7b.508588","type":"debug","z":"69d8cd58.1d16e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":4090,"y":700,"wires":[]},{"id":"e59752e2.9fdc5","type":"inject","z":"69d8cd58.1d16e4","name":"","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":false,"onceDelay":0.1,"x":3100,"y":1500,"wires":[[]]},{"id":"28569df4.4b16c2","type":"function","z":"69d8cd58.1d16e4","name":"","func":"msg.payload=\"hello\";\nmsg.to=\"amolsatsangi2@gmail.com\"\n\nreturn msg;","outputs":1,"noerr":0,"x":3450,"y":1520,"wires":[[]]},{"id":"d776592e.0f2698","type":"inject","z":"69d8cd58.1d16e4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":3280,"y":1540,"wires":[["28569df4.4b16c2"]]},{"id":"b58a5969.96a308","type":"ui_button","z":"69d8cd58.1d16e4","name":"","group":"a7bd5661.4933d8","order":1,"width":0,"height":0,"passthru":false,"label":"Warning (HINDI) ","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Please evacuate the area. ","payloadType":"str","topic":"","x":4210,"y":960,"wires":[["98a231f7.4bfbe"]]},{"id":"98a231f7.4bfbe","type":"watson-translator","z":"69d8cd58.1d16e4","name":"t","action":"translate","basemodel":"ar-en","domain":"general","srclang":"en","destlang":"hi","password":"@Amola688","apikey":"qil87mKyhousSDe7GwPfjE_4zXSlMmcGLuh-5QPw5qkk","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"hi","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.eu-gb.language-translator.watson.cloud.ibm.com/instances/b4903a69-5773-4962-b116-30d72dc6812c","x":4400,"y":960,"wires":[["4d8beac1.f99de4","507fbb0b.5b95b4"]]},{"id":"4d8beac1.f99de4","type":"debug","z":"69d8cd58.1d16e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":4550,"y":900,"wires":[]},{"id":"507fbb0b.5b95b4","type":"watson-text-to-speech","z":"69d8cd58.1d16e4","name":"t-s","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_EmilyV3Voice","voicehidden":"en-US_EmilyV3Voice","format":"audio/wav","password":"@Amola688","apikey":"mXGjPIjxsde40PUbGvV006GBYODPlo4XyihgY9ycRdsN","payload-response":false,"service-endpoint":"https://api.eu-gb.text-to-speech.watson.cloud.ibm.com/instances/ee2b2f7d-ec7d-42bf-b701-0adc50afe57a","x":4540,"y":960,"wires":[["affdff64.63428"]]},{"id":"affdff64.63428","type":"ui_audio","z":"69d8cd58.1d16e4","name":"","group":"d967c48c.d9fb08","voice":"hi-IN","always":"","x":4730,"y":960,"wires":[]},{"id":"3dee0f85.9a79f","type":"ui_button","z":"69d8cd58.1d16e4","name":"","group":"a7bd5661.4933d8","order":2,"width":0,"height":0,"passthru":false,"label":"Warning(English)","tooltip":"","color":"","bgcolor":"","icon":"","payload":"There may be chances of flood Please Evacuate the area","payloadType":"str","topic":"","x":4220,"y":1040,"wires":[["7445d5cd.38927c"]]},{"id":"7445d5cd.38927c","type":"ui_audio","z":"69d8cd58.1d16e4","name":"","group":"a7bd5661.4933d8","voice":"en-US","always":"","x":4430,"y":1060,"wires":[]},{"id":"535e7c36.97a6e4","type":"e-mail","z":"69d8cd58.1d16e4","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"15amolsat@gmail.com","dname":"","x":3650,"y":1600,"wires":[]},{"id":"9215436a.8bdcd","type":"inject","z":"69d8cd58.1d16e4","name":"","topic":"Test Mail","payload":"MAIL AA GYA Kya?","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":3320,"y":1640,"wires":[["535e7c36.97a6e4"]]},{"id":"1c9d3bbc.902b84","type":"debug","z":"69d8cd58.1d16e4","name":"sms","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":3660,"y":500,"wires":[]},{"id":"1ad1a129.986bcf","type":"function","z":"69d8cd58.1d16e4","name":"","func":"msg.payload = \"A Red Alert has been issued by the dam. Persons in the area are encouraged to evacuate. Responsive action should be taken immediately! For more information, visit the dam website\";\nmsg.topic = \"+919871116254,+917248866867,+ 917018530752,+917668939054\";\nreturn msg;","outputs":1,"noerr":0,"x":3250,"y":540,"wires":[["252dd4e8.19b8dc"]]},{"id":"de79bbb0.8bca48","type":"function","z":"69d8cd58.1d16e4","name":"","func":"msg.payload = \"Test Tweet: A Red Alert has been issued by the dam. Persons in the area are encouraged to evacuate. Responsive action should be taken immediately! For more information, visit the dam website\";\nreturn msg;","outputs":1,"noerr":0,"x":3400,"y":600,"wires":[["67174112.2f6a1"]]},{"id":"67174112.2f6a1","type":"twitter out","z":"69d8cd58.1d16e4","twitter":"","name":"Tweet","x":3610,"y":580,"wires":[]},{"id":"252dd4e8.19b8dc","type":"sms","z":"69d8cd58.1d16e4","name":"sms","message":"","numbers":"","throttle":1000,"twilio":"e9636201.105f2","x":3420,"y":500,"wires":[["1c9d3bbc.902b84"]]},{"id":"d0ec0525.dc7778","type":"ui_template","z":"69d8cd58.1d16e4","group":"b2de6bf8.4e1328","name":"Clock Toolbar","order":2,"width":"0","height":"0","format":"<script id=\"titleScript\" type=\"text/javascript\">\n\n$(function() {\n    if($('.md-toolbar-tools').length != 0){\n        loadClock();\n    }else setTimeout(loadClock, 500)\n});\n\nfunction loadClock(){\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    \n    var div = $('<div/>');\n    var p = $('<p/ id=\"clock\">');\n    \n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    function upTime() {\n        var d = new Date();\n        p.text(d.toLocaleString());\n    }\n\n    if(document.clockInterval){ \n            clearInterval(document.clockInterval);\n            document.clockInterval = null;\n    }\n        \n    document.clockInterval = setInterval(upTime,1000);\n}\n\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"global","x":1560,"y":860,"wires":[[]]},{"id":"ae9cacb7.0b729","type":"ui_template","z":"69d8cd58.1d16e4","group":"547900cc.b230d","name":"Photo","order":2,"width":0,"height":0,"format":"<body>\n<script>\nsetInterval(function(){\n        $(\"#myimg\").attr(\"src\", \"/Detections/detection.jpg?\"+new Date().getTime());\n    },7000);\n</script>\n\n<div style=\"height:500px;\">\n    <p align='center' id=\"box\">\n        <img src=\"/Detections/detection.jpg\" id=\"myimg\">\n    </p>\n</div>\n</body>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1570,"y":760,"wires":[[]]},{"id":"e4e62127.45e08","type":"function","z":"69d8cd58.1d16e4","name":"Weather Icon","func":"\nif(msg.data.weather[0].id==800)\n{\n  var imgUrl;\n imgUrl = \"http://openweathermap.org/img/wn/01d@2x.png\";\nmsg.payload = \"<p align='center'><img src = '\" + imgUrl + \"' alt = 'Logo image not found' /></p>\";\n}\nelse if(msg.data.weather[0].id==801)\n{\n imgUrl = \"http://openweathermap.org/img/wn/02d@2x.png\";\nmsg.payload = \"<p align='center'><img src = '\" + imgUrl + \"' alt = 'Logo image not found' /></p>\";\n}\nelse if(msg.data.weather[0].id==802)\n{\n imgUrl = \"http://openweathermap.org/img/wn/03d@2x.png\";\nmsg.payload = \"<p align='center'><img src = '\" + imgUrl + \"' alt = 'Logo image not found' /></p>\";\n}\nelse if(msg.data.weather[0].id==803||msg.data.weather[0].id==804)\n{\n imgUrl = \"http://openweathermap.org/img/wn/04d@2x.png\";\nmsg.payload = \"<p align='center'><img src = '\" + imgUrl + \"' alt = 'Logo image not found' /></p>\";\n}\nelse if(msg.data.weather[0].id==300||msg.data.weather[0].id==301||msg.data.weather[0].id==302||msg.data.weather[0].id==310||msg.data.weather[0].id==311||msg.data.weather[0].id==312||msg.data.weather[0].id==312||msg.data.weather[0].id==313||msg.data.weather[0].id==314||msg.data.weather[0].id==321)\n{\n imgUrl = \"http://openweathermap.org/img/wn/09d@2x.png\";\nmsg.payload = \"<p align='center'><img src = '\" + imgUrl + \"' alt = 'Logo image not found' /></p>\";\n}\nelse if(msg.data.weather[0].id==500||msg.data.weather[0].id==501||msg.data.weather[0].id==502||msg.data.weather[0].id==503||msg.data.weather[0].id==504||msg.data.weather[0].id==520||msg.data.weather[0].id==521||msg.data.weather[0].id==522||msg.data.weather[0].id==531)\n{\n imgUrl = \"http://openweathermap.org/img/wn/10d@2x.png\";\nmsg.payload = \"<p align='center'><img src = '\" + imgUrl + \"' alt = 'Logo image not found' /></p>\";\n}\nelse if(msg.data.weather[0].id==200||msg.data.weather[0].id==201||msg.data.weather[0].id==202||msg.data.weather[0].id==210||msg.data.weather[0].id==211||msg.data.weather[0].id==212||msg.data.weather[0].id==221||msg.data.weather[0].id==230||msg.data.weather[0].id==231||msg.data.weather[0].id==232)\n{\n imgUrl = \"http://openweathermap.org/img/wn/11d@2x.png\";\nmsg.payload = \"<p align='center'><img src = '\" + imgUrl + \"' alt = 'Logo image not found' /></p>\";\n}\nelse if(msg.data.weather[0].id==511||msg.data.weather[0].id==600||msg.data.weather[0].id==601||msg.data.weather[0].id==602||msg.data.weather[0].id==611||msg.data.weather[0].id==612||msg.data.weather[0].id==613||msg.data.weather[0].id==615||msg.data.weather[0].id==616||msg.data.weather[0].id==620||msg.data.weather[0].id==621)\n{\n imgUrl = \"http://openweathermap.org/img/wn/13d@2x.png\";\nmsg.payload = \"<p align='center'><img src = '\" + imgUrl + \"' alt = 'Logo image not found' /></p>\";\n}\nelse if(msg.data.weather[0].id==701||msg.data.weather[0].id==711||msg.data.weather[0].id==721||msg.data.weather[0].id==731||msg.data.weather[0].id==741||msg.data.weather[0].id==751||msg.data.weather[0].id==761||msg.data.weather[0].id==762||msg.data.weather[0].id==771||msg.data.weather[0].id==781)\n{\n imgUrl = \"http://openweathermap.org/img/wn/50d@2x.png\";\nmsg.payload = \"<p align='center'><img src = '\" + imgUrl + \"' alt = 'Logo image not found' /></p>\";\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":790,"y":1000,"wires":[["2994027a.3ee77e"]]},{"id":"b1dbfb19.f24798","type":"function","z":"69d8cd58.1d16e4","name":"Weather","func":"var x1=0,x2=0,x3=0,x4=0,x5=0,x6=0,x9=0,x10=0;\nif([msg.payload[0].rain[\"3h\"]])\n{\n    x1=msg.payload[0].rain[\"3h\"];\n}\nif([msg.payload[1].rain[\"3h\"]])\n{\n    x2=msg.payload[1].rain[\"3h\"];\n}\nif([msg.payload[2].rain[\"3h\"]])\n{\n    x3=msg.payload[2].rain[\"3h\"];\n}\nif([msg.payload[3].rain[\"3h\"]])\n{\n    x4=msg.payload[3].rain[\"3h\"];\n}\nif([msg.payload[4].rain[\"3h\"]])\n{\n    x5=msg.payload[4].rain[\"3h\"];\n}\nif([msg.payload[5].rain[\"3h\"]])\n{\n    x6=msg.payload[5].rain[\"3h\"];\n}\n\nif([msg.payload[8].rain[\"3h\"]])\n{\n    x8=msg.payload[8].rain[\"3h\"];\n}\nif([msg.payload[9].rain[\"3h\"]])\n{\n    x9=msg.payload[9].rain[\"3h\"];\n}\nvar m={\n    \"series\":[msg.payload[0].dt_txt,msg.payload[1].dt_txt,msg.payload[2].dt_txt,msg.payload[3].dt_txt,msg.payload[4].dt_txt,msg.payload[5].dt_txt,msg.payload[8].dt_txt,msg.payload[9].dt_txt],\n    \"data\":[[x1],[x2],[x3],[x4],[x5],[x6],[x8],[x9]],\n    \"labels\":[\"Time & Date\"]\n};\nreturn {payload:[m]};","outputs":1,"noerr":0,"x":2060,"y":580,"wires":[["41b7c234.78590c"]]},{"id":"d9efd54f.6497b8","type":"ui_artlessgauge","z":"69d8cd58.1d16e4","group":"965c8dad.77f1","order":2,"width":6,"height":6,"name":"Water Level","icon":"","label":"Water Level","unit":"cm","layout":"radial","decimals":0,"differential":false,"minmax":true,"colorTrack":"#555555","colorFromTheme":true,"property":"payload","sectors":[{"val":0,"col":"#028302","t":"min","dot":2},{"val":27,"col":"#ffea00","t":"sec","dot":2},{"val":40,"col":"#ff8800","t":"sec","dot":2},{"val":48,"col":"#f70808","t":"sec","dot":2},{"val":53,"col":"#f70808","t":"max","dot":2}],"lineWidth":"7","bgcolorFromTheme":true,"diffCenter":"","x":2690,"y":1100,"wires":[]},{"id":"87efa64e.5246a8","type":"ui_dropdown","z":"69d8cd58.1d16e4","name":"","label":"Emails","tooltip":"","place":"Select option","group":"cf921c47.1e21","order":2,"width":0,"height":0,"passthru":false,"multiple":false,"options":[{"label":"Amol Satsangi","value":"amolsatsangi2@gmail.com","type":"str"},{"label":"Arsh Kumar Gupta","value":"arshkumar304@gmail.com","type":"str"},{"label":"Tejpunj Raju","value":"tejpunjraju8a@gmail.com","type":"str"},{"label":"Agam Swami","value":"a1swami1@gmail.com","type":"str"}],"payload":"","topic":"","x":3330,"y":1080,"wires":[["8db6fa0d.abe498","98e44325.e1509"]]},{"id":"8db6fa0d.abe498","type":"function","z":"69d8cd58.1d16e4","name":"","func":"msg.to=msg.payload;\nmsg.topic=\"Red Alert\";\nmsg.payload=\"A red alert has been issued for Cherrapunji by the Dam. Persons in this area are encouragedto evacuate. Responsive action should be taken immediately! For more information visit dam website\";\nreturn msg;","outputs":1,"noerr":0,"x":3530,"y":1120,"wires":[["db8abb84.663938","f3a0ebc3.432978"]]},{"id":"98e44325.e1509","type":"debug","z":"69d8cd58.1d16e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":3720,"y":1060,"wires":[]},{"id":"671a8bd0.ca9b64","type":"ui_button","z":"69d8cd58.1d16e4","name":"","group":"cf921c47.1e21","order":3,"width":0,"height":0,"passthru":false,"label":"Send","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":3150,"y":1040,"wires":[["87efa64e.5246a8"]]},{"id":"f3a0ebc3.432978","type":"debug","z":"69d8cd58.1d16e4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":3850,"y":1220,"wires":[]},{"id":"db8abb84.663938","type":"email out","z":"69d8cd58.1d16e4","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"","sendfailedcontrib":"","messagesentcontrib":"","x":3860,"y":1140,"wires":[[]]},{"id":"5c319400.26f08c","type":"ui_group","z":"","name":"Today's Forecast","tab":"7cc5724f.73e70c","order":4,"disp":true,"width":"7","collapse":false},{"id":"63b3bca6.c74f74","type":"ui_group","z":"","name":"Weather API","tab":"7cc5724f.73e70c","order":3,"disp":true,"width":7,"collapse":false},{"id":"f93d778d.855098","type":"MySQLdatabase","z":"","name":"","host":"localhost","port":"3306","db":"dam","tz":"GMT+0530"},{"id":"cb473aa3.c832a8","type":"ui_group","z":"","name":"Sensor Data","tab":"7cc5724f.73e70c","order":2,"disp":true,"width":"14","collapse":false},{"id":"547900cc.b230d","type":"ui_group","z":"","name":"Person Detection","tab":"7cc5724f.73e70c","order":5,"disp":true,"width":14,"collapse":false},{"id":"d967c48c.d9fb08","type":"ui_group","z":"","name":"Public Inform","tab":"73bb577b.cc9858","order":1,"disp":true,"width":"6","collapse":false},{"id":"a7bd5661.4933d8","type":"ui_group","z":"","name":"Voice based Alert","tab":"73bb577b.cc9858","order":4,"disp":true,"width":"6","collapse":false},{"id":"e9636201.105f2","type":"twilioConfig","z":"","name":"twilioConfig"},{"id":"b2de6bf8.4e1328","type":"ui_group","z":"","name":"hidden_group","tab":"37889272.b5d92e","order":1,"disp":false,"width":"6","collapse":false},{"id":"965c8dad.77f1","type":"ui_group","z":"","name":"Sensor Data","tab":"7cc5724f.73e70c","order":1,"disp":true,"width":"7","collapse":false},{"id":"cf921c47.1e21","type":"ui_group","z":"","name":"Email to TV and Radio Stations","tab":"73bb577b.cc9858","order":3,"disp":true,"width":"6","collapse":false},{"id":"7cc5724f.73e70c","type":"ui_tab","z":"","name":"dashboard","icon":"dashboard","disabled":false,"hidden":false},{"id":"73bb577b.cc9858","type":"ui_tab","z":"","name":"Public","icon":"Email to TV and Radio","disabled":false,"hidden":false},{"id":"37889272.b5d92e","type":"ui_tab","z":"","name":"Zooland Sys","icon":"home","order":1,"disabled":false,"hidden":false}]